<div class="main" [ngStyle]="{
  fontSize: fontSize,
  margin: margin,
  border: border,
  color: color,
  backgroundColor: backgroundColor
  }">
  <img [src]="iconSrc">
  <label>
    <ng-content></ng-content>
  </label>
</div>
