<app-modal
    id="loading-modal"
    style="display: none;"
    [backgroundClickFunction]="null"
    zIndex="2000">
    <div class="wrapper">
        <label>{{ 'GENERAL.PLEASE_WAIT' | translate }}</label>
        <app-loading-spinner></app-loading-spinner>
    </div>
</app-modal>
