<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>language</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item
  class="langsMenuBtn"
  *ngFor="let lang of langs | keyvalue"
  (click)="useLanguage(lang.key)"
  [disabled]="lang.key == translateService.currentLang">
    <img [src]="lang.value.langImg" [alt]="lang.key">
    <span>{{ lang.value.langLabel }}</span>
  </button>
</mat-menu>
