.wrapper {
    padding-inline: 2.2vh;
    padding-block: 1.5vh;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    row-gap: 2.2vh;
    padding: 1.5vh;
    padding-top: 1vh;
}

.btnCol {
    display: flex;
    justify-content: flex-end;
}

.btnsCol {
    display: flex;
    justify-content: space-between;;
}

button {
    padding-inline: 2.2vh;
    font-size: 2.2vh;
}

.submitBtn {
    border-radius: 1vh;
    color: white;
    background-color: #007D78;
}

.disabled {
    cursor: not-allowed;
    pointer-events: all !important;
}

.cancelBtn {
    border: 1px solid #007D78;
}

.title {
    font-size: 3vh;
    font-weight: bold;
}

.subTitle {
    font-size: 1.6vh;
}

.searchReportForm {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

.formDetails {
    display: flex;
    justify-content: space-evenly;
}

.formDetail {
    display: flex;
    text-align: center;
    column-gap: 1.2vh;
}

.wrapperReportDetails {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

.reportDetailParam {
    font-weight: bold;
}

.reportDetailsCol {
    display: flex;
    flex-direction: column;
}

.reportDetail {
    display: flex;
    justify-content: space-between;
    padding-inline: 3vh;
    padding-block: 1.5vh;
}

.mat-form-field {
    text-align: start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

::ng-deep .mat-step-label {
    margin-inline-start: 1.5vh;
    font-size: 2vh;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #007D78;
}

::ng-deep .mat-step-icon {
    height: 3.5vh !important;
    width: 3.5vh !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
    margin-bottom: 2vh !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep .mat-checkbox-ripple .mat-ripple-element,
::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #007D78 !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.paymentForm {
    font-size: 2vh;
    padding: 3vh;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vh;
}

.paymentParamTitle {
    font-size: 2.1vh;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.paymentWayLabel {
  margin-inline-start: 1vh;
}

table {
    margin: 0;
}

tr {
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

tr.footer {
    border-bottom: none;
    font-size: 2.5vh;
    font-weight: bold;
}

tr.footer > td {
    padding-block: 2vh;
}

td {
    text-align: center;
    vertical-align: middle;
}

td.total {
    font-weight: bold;
    width: 14vw;
    font-size: 2vh;
}

td > div {
    align-items: center;
}

.payPage {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
}

.payback-modal {
    display: none;
}

.paybackWrapper {
    width: 65vw;
    background-color: #F9F9F9;
    margin: 0;
}

.bottomRow {
    margin: 0;
    padding: 0;
}

.moneySection {
    background-color: white;
    margin: 2vh;
    border: 2px solid #00000019;
    width: 70%;
    border-radius: 1vh;
}

.moneySectionLabel {
    display: flex;
    flex-direction: column;
    padding: 1.5vh;
    row-gap: 1.5vh;
}

.moneySectionMainLabel {
    font-size: 3vh;
    font-weight: bold;
}

.moneySectionSubLabel {
    font-size: 2.2vh;
}

.btnSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.2vh;
}

.btnSectionTilte {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 3vh;
}

.btnSectionTilte > .sum {
    font-size: 4vh;
}

.btn-primary {
    background-color: #007D78;
    border-color: #007D78;
    border-radius: 1vh;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #006966;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completedSuccessfullyWrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.5vh;
    margin-bottom: 3vh;
}

.completedSuccessfully {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 1.5vh;
}

.checkmarksuccess {
    align-self: center;
    height: 21vh;
    width: 21vh;
}

.success {
    width: fit-content;
    background-color: #f5fff5;
    border: solid 1px #2daa18;
    padding: 1.5vh;
    display: flex;
    column-gap: 1.5vh;
    color: #2daa18;
    font-weight: bold;
    align-self: center;
}

.success > label {
    align-self: center;
}

.iframeSpinner {
    display: flex;
    justify-content: center;
    margin-block: 2.6vh;
}

.creditCardError {
    color: red;
    font-weight: bold;
    text-align: center;
}

.creditPayIframeUrlError {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: red;
    margin-top: 3vh;
    overflow: hidden;
}

.tableImg {
  height: 4vh;
}

.currency {
  direction: rtl;
}
