<app-modal
id="pay-report-modal"
[backgroundClickFunction]="null"
zIndex="100">
    <div class="wrapper">
        <div class="titleWrapper">
            <label class="title">{{ 'PAGES.MAIN.PAY_REPORT.PAGE_TITLE' | translate }}</label>
            <button
                *ngIf="canCloseDialog"
                mat-button
                (click)="closePayReport()">
                <img
                src="./assets/icons/x.png"
                style="height: 2.5vh">
            </button>
        </div>
        <hr style="margin: 0;">
        <mat-stepper #stepper>
            <mat-step
            [stepControl]="searchReportForm"
            label="{{ 'PAGES.MAIN.PAY_REPORT.ENTER_DETAILS' | translate }}"
            [completed]="false">
                <form class="searchReportForm"
                [formGroup]="searchReportForm">
                    <div class="row">
                      <div class="formDetails">
                          <div class="formDetail">
                              <mat-form-field
                              appearance="fill">
                                  <mat-label>{{ 'PAGES.MAIN.PAY_REPORT.REPORT_ID' | translate }}</mat-label>
                                  <input
                                      matInput
                                      type="number"
                                      formControlName="reportId">
                              </mat-form-field>
                          </div>

                          <div class="formDetail">
                              <mat-form-field
                                appearance="fill">
                                <mat-label>{{ 'PAGES.MAIN.PAY_REPORT.REPORT_DATE' | translate }}</mat-label>
                                <input
                                  matInput
                                  formControlName="reportDate"
                                  [matDatepicker]="picker"
                                  [max]="maxDate">
                                <mat-datepicker-toggle
                                  matSuffix
                                  [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                          </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col btnCol">
                            <button
                                [disabled]="invalidForm()"
                                (click)="searchReport()"
                                class="btn submitBtn"
                                type="button">
                                {{ 'GENERAL.NEXT' | translate }}
                            </button>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step
            label="{{ 'PAGES.MAIN.PAY_REPORT.REPORT_DETAILS' | translate }}"
            [completed]="false">
                <div class="wrapperReportDetails">
                    <div class="row">
                        <div *ngIf="report" class="col reportDetailsCol">
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.NAME' | translate }}</label>
                                <label>{{ report.firstName }} {{ report.lastName }}</label>
                            </div>
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.ID' | translate }}</label>
                                <label>{{ report.passengerId }}</label>
                            </div>
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.LINE_NUM' | translate }}</label>
                                <label>{{ report.Line }}</label>
                            </div>
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.LOCATION' | translate }}</label>
                                <label>{{ report.street }} {{ report.houseNumber }}, {{ report.city }}</label>
                            </div>
                        </div>
                        <div *ngIf="report" class="col reportDetailsCol">
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.TIME' | translate }}</label>
                                <label>{{ report.timeString }}</label>
                            </div>
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.REASON' | translate }}</label>
                                <label>{{ report.descrReasonFine }}</label>
                            </div>
                            <div class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.PRICE' | translate }}</label>
                                <label>{{ report.price | currency }}</label>
                            </div>
                            <div *ngIf="hasRules" class="reportDetail">
                                <label class="reportDetailParam">{{ 'PAGES.MAIN.PAY_REPORT.READ' | translate }}<a href="javascript:void(0);" (click)="openRules()">{{ 'PAGES.MAIN.PAY_REPORT.TERMS' | translate }}</a></label>
                                <mat-checkbox (change)="readTheRules($event.checked)"></mat-checkbox>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col btnsCol">
                            <button
                                matStepperPrevious
                                class="btn cancelBtn"
                                type="button">
                                {{ 'GENERAL.BACK' | translate }}
                            </button>
                            <button
                                [ngClass]="{'disabled': hasRules && !readRules}"
                                (click)="nextFromReportDetails(readRules)"
                                class="btn submitBtn"
                                type="button">
                                {{ 'GENERAL.NEXT' | translate }}
                            </button>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step [completed]="false">
                <ng-template matStepLabel>{{ 'GENERAL.PAYMENT' | translate }}</ng-template>
                <ng-container *ngIf="report">
                    <app-report-payment-title
                    [price]="report.price">
                    </app-report-payment-title>
                    <div class="payPage" >
                        <mat-tab-group (selectedTabChange)="selectedTabChange($event)">
                            <mat-tab label="{{ 'GENERAL.CASH_PAYMENT' | translate }}">
                                <div style=
                                "width: 45vw;
                                overflow-x: clip;">
                                    <app-display-money
                                        type="report"
                                        text="{{ 'PAGES.MAIN.PAY_REPORT.PAY' | translate }}">
                                    </app-display-money>
                                </div>
                            </mat-tab>
                            <mat-tab
                            *ngIf="supportCreditPayReport"
                            label="{{ 'GENERAL.CREDIT_PAYMENT' | translate }}">
                            <ng-container *ngIf="supportCreditPayReport == SupportCreditPayReport.WITH_IFRAME">
                                <ng-container *ngIf="!creditPayIframeUrlError">
                                    <div *ngIf="isLoadingIframe" class="iframeSpinner">
                                        <mat-spinner diameter="150"></mat-spinner>
                                    </div>

                                    <iframe
                                    *ngIf="creditPayIframeUrl"
                                    [src]="creditPayIframeUrl"
                                    title="{{ 'PAGES.MAIN.PAY_REPORT.CREDIT_CLEARING_WEBSITE' | translate }}"
                                    style="width: 100%; height: 40vh;"
                                    (load)="isLoadingIframe = false"
                                    [class.d-none]="isLoadingIframe"
                                    ></iframe>

                                </ng-container>
                                <ng-container *ngIf="creditPayIframeUrlError">
                                    <div class="creditPayIframeUrlError">
                                        <label> {{ creditPayIframeUrlError }}</label>
                                    </div>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="supportCreditPayReport == SupportCreditPayReport.WITHOUT_IFRAME">
                                <div class="row">
                                    <app-credit-card-form></app-credit-card-form>
                                </div>
                                <div class="row creditCardError">
                                    <label [style.opacity]="creditCardError ? '1' : '0'">
                                        {{ creditCardError }}
                                    </label>
                                </div>
                            </ng-container>
                            </mat-tab>
                        </mat-tab-group>
                        <div class="row">
                            <div class="col btnsCol">
                                <button
                                    matStepperPrevious
                                    class="btn cancelBtn"
                                    type="button">
                                    {{ 'GENERAL.BACK' | translate }}
                                </button>
                                <button
                                    *ngIf="paymentWay == PaymentWay.CASH"
                                    (click)="payReport()"
                                    class="btn submitBtn"
                                    type="button">
                                    {{ 'PAGES.MAIN.PAY_REPORT.PAY' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </mat-step>
            <mat-step [completed]="false">
                <ng-template matStepLabel>{{ 'GENERAL.FINISH' | translate }}</ng-template>
                <div class="row">
                    <div class="col completedSuccessfullyWrapper">
                        <div class="completedSuccessfully">
                            <img
                            class="checkmarksuccess"
                            src="./assets/gifs/checkmarksuccess.gif">
                            <label style="font-size: 3vh">{{ 'PAGES.MAIN.PAY_REPORT.PAY_REPORT_SUCCESS' | translate }}</label>
                        </div>
                        <app-error-message *ngIf="updateFineFailed" fontSize="3vh">
                          {{ 'PAGES.MAIN.PAY_REPORT.ERROR_UPDATE_STATUS' | translate }}
                        </app-error-message>
                    </div>
                </div>
                <div class="row">
                    <div class="col btnsCol">
                        <button
                            (click)="resetPayReport()"
                            matStepperPrevious
                            class="btn cancelBtn"
                            type="button">
                            {{ 'PAGES.MAIN.PAY_REPORT.PAY_ANOTHER' | translate }}
                        </button>
                        <button
                            (click)="finishPayReport()"
                            class="btn submitBtn"
                            type="button">
                            {{ 'GENERAL.FINISH' | translate }}
                        </button>
                    </div>
                </div>
            </mat-step>
        </mat-stepper>
    </div>

    <app-info-modal
        id="info-modal-pay-report"
        [backgroundClickFunction]="infoModalBackgroundClickFunction"
        [icon]="infoModalIcon"
        [title]="infoModalTitle"
        [subTitle]="infoModalSubTitle"
        [hr]="infoModalHr"
        [btnTitle]="infoModalBtnTitle"
        [btnRightText]="infoModalBtnRightText"
        [btnRightClickFun]="infoModalBtnRightClickFun"
        [btnLeftText]="infoModalBtnLeftText"
        [btnLeftClickFun]="infoModalBtnLeftClickFun"
        [error]="infoModalError">
    </app-info-modal>

    <app-modal
    class="payback-modal"
    id="pay-report-payback-modal"
    [backgroundClickFunction]="null"
    >
        <div class="row paybackWrapper">
            <div class="row bottomRow">
                <div class="col-9 moneySection">
                    <div class="moneySectionLabel">
                        <label class="moneySectionMainLabel">{{ 'GENERAL.SURPLUS' | translate }}</label>
                        <label class="moneySectionSubLabel">{{ 'GENERAL.SURPLUS_SUBTITLE' | translate }}</label>
                    </div>
                    <table class="table table-borderless">
                        <tbody>
                            <tr
                            *ngFor="let item of paybackCashbox | cashboxKeys">
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <img class="tableImg" [src]=getImageUrl(item.key)>
                                        </div>
                                        <div class="col currency" *ngIf="getValue(item.key)/100 > 10">
                                          {{ 'GENERAL.BILL' | translate }} {{ getValue(item.key)/100 | currency }}
                                        </div>
                                        <div class="col currency" *ngIf="getValue(item.key)/100 <= 10">
                                          {{ 'GENERAL.COIN' | translate }} {{ getValue(item.key)/100 | currency }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <app-amount-input
                                        [type]="item.key"
                                        [maxValue]="currCashbox[item.key]"
                                        payload="out"
                                        info="payback"
                                        ></app-amount-input>
                                    </div>
                                </td>
                                <td class="total">
                                    <div *ngIf="paybackCashbox.getCoinSum(item.key) > 0">
                                        {{ paybackCashbox.getCoinSum(item.key) | currency }}
                                    </div>
                                </td>
                            </tr>
                            <tr class="footer">
                                <td></td>
                                <td></td>
                                <td class="total">
                                    <div>
                                        {{ 'GENERAL.TOTAL' | translate }} {{ paybackCashbox.getSum() | currency }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3 btnSection">
                    <div></div>
                    <div class="btnSectionTilte">
                        <label style="text-align: center;">{{ 'GENERAL.REQUIRED_TO_RETURN_TO_CLIENT' | translate }}:</label>
                        <hr>
                        <label
                        *ngIf="this.report"
                        class="sum">{{ getPayback() | currency }}</label>
                    </div>
                    <button
                    class="btn btn-primary"
                    (click)="finishPayback()"
                    [disabled]="this.report && parseFloat(getPayback()) != 0">
                    {{ 'GENERAL.FINISH' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <app-pop-up *ngIf="moreThanMax">
          {{ 'GENERAL.QUANTITY_EXCEEDS' | translate }}
        </app-pop-up>

        <app-pop-up *ngIf="lessThanZero">
          {{ 'GENERAL.CANT_NEGATIVE' | translate }}
        </app-pop-up>
    </app-modal>

    <app-pop-up *ngIf="fineProblem">
      {{ fineProblemDetails | async }}
    </app-pop-up>

    <app-pop-up *ngIf="mustReadRules">
      {{ 'PAGES.MAIN.PAY_REPORT.REQUIRED_TO_READ_TERMS' | translate }}
    </app-pop-up>

    <app-pop-up *ngIf="payFailed">
      {{ 'PAGES.MAIN.PAY_REPORT.PAYMENT_FAILED' | translate }}
    </app-pop-up>

    <app-pop-up *ngIf="payCanceled">
      {{ 'PAGES.MAIN.PAY_REPORT.PAYMENT_CANCELED' | translate }}
    </app-pop-up>

</app-modal>
