<div class="upTitle">
  <div class="appName">
    <label>{{ 'APP_TITLE' | translate }}</label>
    <ng-container *ngIf="operatorDescr">
      <label> | </label>
      <label>{{ operatorDescr }}</label>
    </ng-container>
    <ng-container *ngIf="adminCashbox">
      <label> | </label>
      <label>{{ 'GENERAL.ADMIN_STATION' | translate }}</label>
    </ng-container>
  </div>
  <div class="leftTitle">
    <app-language-menu></app-language-menu>
    <ng-container *ngIf="userName">
      <img src="./assets/icons/avatarIcon.svg">
      <label> {{ userName }} </label>
      <label> | </label>
    </ng-container>
    <label>{{ 'PAGES.MAIN.VERSION' | translate }} {{ versionNum }}</label>
    <label
    *ngIf="testMode" class="modeLabel">
      TEST
    </label>
    <label
    *ngIf="devMode" class="modeLabel">
      DEV
    </label>
  </div>
</div>
