.upTitle {
  height: 6.5vh;
  background-color: #2B2B2B;
  margin: 0;
  color: white;
  font-size: 2.3vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2.3vh;
}

.leftTitle, .appName {
  display: flex;
  column-gap: 2.1vh;
  align-items: center;
}

img {
  height: 2.5vh;
}

.modeLabel {
  font-weight: bold
}
