<div class="wrapper">
    <app-info-modal
        id="info-modal-payback-cancel"
        [backgroundClickFunction]="infoModalBackgroundClickFunction"
        [icon]="infoModalIcon"
        [title]="infoModalTitle"
        [subTitle]="infoModalSubTitle"
        [hr]="infoModalHr"
        [btnTitle]="infoModalBtnTitle"
        [btnRightText]="infoModalBtnRightText"
        [btnRightDisabled]="infoModalBtnRightDisabled"
        [btnRightClickFun]="infoModalBtnRightClickFun"
        [btnLeftText]="infoModalBtnLeftText"
        [btnLeftDisabled]="infoModalBtnLeftDisabled"
        [btnLeftClickFun]="infoModalBtnLeftClickFun"
        [error]="infoModalError">
    </app-info-modal>

    <app-modal
    class="payback-modal"
    id="payback-modal-cancel"
    [backgroundClickFunction]="null">
        <div class="row paybackWrapper">
            <div class="row bottomRow">
                <div class="col-9 moneySection">
                    <div class="moneySectionLabel">
                        <label class="moneySectionMainLabel">{{ 'GENERAL.CONTRACT_PRICE_REFUND' | translate }}</label>
                        <label class="moneySectionSubLabel">{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.CANCELATION_CONTRACT.SURPLUS_SUBTITLE' | translate }}</label>
                    </div>
                    <mat-tab-group
                    (selectedTabChange)="selectedTabChange($event)">
                        <mat-tab
                        label="{{ 'GENERAL.CASH_REFUND' | translate }}">
                            <table class="table table-borderless">
                                <tbody style="font-size: 2vh;">
                                    <tr
                                    *ngFor="let item of paybackCashbox | cashboxKeys">
                                        <td>
                                            <div class="row">
                                                <div class="col">
                                                    <img class="tableImg" [src]=getImageUrl(item.key)>
                                                </div>
                                                <div class="col currency" *ngIf="getValue(item.key)/100 > 10">
                                                  {{ 'GENERAL.BILL' | translate }} {{ getValue(item.key)/100 | currency }}
                                                </div>
                                                <div class="col currency" *ngIf="getValue(item.key)/100 <= 10">
                                                  {{ 'GENERAL.COIN' | translate }} {{ getValue(item.key)/100 | currency }}
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <app-amount-input
                                                [type]="item.key"
                                                [maxValue]="currCashbox[item.key]"
                                                payload="out"
                                                info="payback"
                                                ></app-amount-input>
                                            </div>
                                        </td>
                                        <td class="total">
                                            <div *ngIf="paybackCashbox.getCoinSum(item.key) > 0">
                                                {{ paybackCashbox.getCoinSum(item.key) | currency }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="footer">
                                        <td></td>
                                        <td></td>
                                        <td class="total">
                                            <div>
                                              {{ 'GENERAL.TOTAL' | translate }} {{ paybackCashbox.getSum() | currency }}
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </mat-tab>
                        <mat-tab
                        *ngIf="this.storeService.operatorConfiguration.supportCredit || this.storeService.operatorConfiguration.supportVouchers"
                        label="{{ 'GENERAL.CREDIT_OR_VOUCHER_REFUND' | translate }}">
                            <form
                            #paymentForm="ngForm"
                            class="paymentForm">
                                <div>
                                    <div class="flexColumn">
                                        <label class="paymentParamTitle">{{ 'GENERAL.CHOOSE_REFUND_METHOD' | translate }}:</label>
                                        <div *ngIf="this.storeService.operatorConfiguration.supportCredit">
                                            <input
                                            type="radio"
                                            value="credit"
                                            name="paymentWay"
                                            required
                                            ngModel>
                                            <label class="paymentWayLabel">{{ 'GENERAL.CREDIT' | translate }}</label>
                                        </div>
                                        <div *ngIf="this.storeService.operatorConfiguration.supportVouchers">
                                            <input
                                            type="radio"
                                            value="voucher"
                                            name="paymentWay"
                                            required
                                            ngModel>
                                            <label class="paymentWayLabel">{{ 'GENERAL.VOUCHER' | translate }}</label>
                                        </div>
                                    </div>
                                    <div
                                    *ngIf="paymentForm.dirty"
                                    class="flexColumn">
                                        <label
                                        class="paymentParamTitle">{{ 'GENERAL.ENTER' | translate }} {{ paymentForm.controls.paymentWay.value == "credit" ? ('GENERAL.REFERENCE_NUM' | translate) : ('GENERAL.VOUCHER_NUM' | translate) }}:</label>
                                        <input
                                        type="number"
                                        name="cardNum"
                                        placeholder="{{ paymentForm.controls.paymentWay.value == 'credit' ? ('GENERAL.REFERENCE_NUM' | translate) : ('GENERAL.VOUCHER_NUM' | translate) }}"
                                        required
                                        ngModel>
                                    </div>
                                </div>
                            </form>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="col-3 btnSection">
                    <div></div>
                    <div class="btnSectionTilte">
                        <label style="text-align: center;">{{ 'GENERAL.REQUIRED_TO_RETURN_TO_CLIENT' | translate }}:</label>
                        <hr>
                        <label class="sum">{{ getPayback() | currency }}</label>
                    </div>
                    <button
                    class="btn btn-primary"
                    (click)="finishPayback()"
                    [disabled]="disabledFinishPayback()">
                    {{ 'GENERAL.FINISH' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <app-pop-up *ngIf="moreThanMax">
          {{ 'GENERAL.QUANTITY_EXCEEDS' | translate }}
        </app-pop-up>

        <app-pop-up *ngIf="lessThanZero">
          {{ 'GENERAL.CANT_NEGATIVE' | translate }}
        </app-pop-up>
    </app-modal>
</div>
