<div class="componentRoot">
    <form
    class="row mainRow"
    (ngSubmit)="onSubmit()">
        <div class="col-9 formSection">
            <div class="row inputsRow">
                <div class="col inputsCol">
                    <div class="row"></div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="title">{{ 'PAGES.MAIN.CHANGING.PAGE_TITLE' | translate }}</th>
                                        <th>{{ 'PAGES.MAIN.CHANGING.COMING_IN' | translate }}</th>
                                        <th>{{ 'PAGES.MAIN.CHANGING.COMING_OUT' | translate }}</th>
                                    </tr>
                                  <tr
                                  *ngFor="let item of cashboxIn | cashboxKeys">
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <img [src]=_getImageUrl(item.key)>
                                            </div>
                                            <div class="col currency" *ngIf="_getValue(item.key)/100 > 10">
                                              {{ 'GENERAL.BILL' | translate }} {{ _getValue(item.key)/100 | currency }}
                                            </div>
                                            <div class="col currency" *ngIf="_getValue(item.key)/100 <= 10">
                                              {{ 'GENERAL.COIN' | translate }} {{ _getValue(item.key)/100| currency }}
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <app-amount-input
                                        [type]=item.key
                                        payload="in"
                                        ></app-amount-input>
                                    </td>
                                    <td>
                                        <app-amount-input
                                        [type]=item.key
                                        payload="out"
                                        [maxValue]="currCashbox[item.key]"
                                        ></app-amount-input>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 btnSection">
            <div class="row sumLabelRow">
                <div class="col sumLabel">
                    <label>{{ 'GENERAL.TOTAL' | translate}} {{ 'PAGES.MAIN.CHANGING.COMING_IN' | translate }}:</label>
                    <div>
                        <label class="sumAmount">{{ cashboxIn.getSum() | currency }}</label>
                    </div>
                </div>
                <div class="col sumLabel">
                    <label>{{ 'GENERAL.TOTAL' | translate}} {{ 'PAGES.MAIN.CHANGING.COMING_OUT' | translate }}:</label>
                    <div>
                        <label class="sumAmount">{{ cashboxOut.getSum() | currency}}</label>
                    </div>
                </div>
            </div>
            <div class="row submitBtnRow">
                <div class="col submitBtnCol">
                    <button
                    class="btn submitBtn"
                    type="submit"
                    [disabled]="cashboxIn.getSum() == cashboxOut.getSum() && cashboxOut.getSum() == 0"
                    [ngClass]="{'disabled': cashboxIn.getSum() != cashboxOut.getSum()}">
                    {{ 'PAGES.MAIN.CHANGING.SUBMIT_BUTTON' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<app-info-modal
    id="info-modal-changing"
    [backgroundClickFunction]="infoModalBackgroundClickFunction"
    [icon]="infoModalIcon"
    [title]="infoModalTitle"
    [subTitle]="infoModalSubTitle"
    [hr]="infoModalHr"
    [btnTitle]="infoModalBtnTitle"
    [btnRightText]="infoModalBtnRightText"
    [btnRightClickFun]="infoModalBtnRightClickFun"
    [btnLeftText]="infoModalBtnLeftText"
    [btnLeftClickFun]="infoModalBtnLeftClickFun"
    [error]="infoModalError">
</app-info-modal>

<app-pop-up *ngIf="moreThanMax">
    {{ 'GENERAL.QUANTITY_EXCEEDS' | translate }}
</app-pop-up>

<app-pop-up *ngIf="lessThanZero">
    {{ 'GENERAL.CANT_NEGATIVE' | translate }}
</app-pop-up>

<app-pop-up *ngIf="changingNoEqual">
    {{ 'PAGES.MAIN.CHANGING.COMPARE' | translate }}
</app-pop-up>
