table {
    border-collapse: unset !important;
}

agm-map {
    height: 75vh;
    width: 25vw;
    padding: 2vh;
}

.table {
    border: 0 solid black !important;
    font-size: 2vh;
    -webkit-border-vertical-spacing: 1vh;
}

tr {
    cursor: pointer;
}

.topTable {
    position: sticky;
    top: 0;
    background: white;
    padding-bottom: 8px;
}

.topTable label {
    cursor: pointer;
}


.flex-conteiner-row {
    display: flex;
    justify-content: space-between;
}

.insideTh {
    display: flex;
    column-gap: 5px;
}

.noContractsToShow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f2f2;
    font-size: 3.5vh;
    height: 55vh;
    margin-inline-end: 5vh;
}

.freeSearchWrapper {
    margin-inline-end: 6vh;
}

.freeSearch {
    font-size: 2vh;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-block: 2.5vh;
    padding-inline: 1.7vh;
    margin-top: 0.5vh;
}

.freeSearch:hover {
    border: 2px solid black;
}

.freeSearch:focus {
    outline: none;
    border: 2px solid #3f51b5;
}
/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  /* border: 1px solid green;
  -webkit-text-fill-color: green; */
  /* -webkit-box-shadow: 0 0 0px 1000px #000 inset; */
  /* font-size: 2vh; */
  /* -webkit-box-sizing: 2vh; */
  /* -webkit-text-size-adjust: 2vh; */
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line,
input:-webkit-autofill:hover::first-line,
input:-webkit-autofill:focus::first-line,
textarea:-webkit-autofill::first-line,
textarea:-webkit-autofill:hover::first-line,
textarea:-webkit-autofill:focus::first-line,
select:-webkit-autofill::first-line,
select:-webkit-autofill:hover::first-line,
select:-webkit-autofill:focus::first-line {
  font-size: 2vh;
}
