<div class="row" style="width: 75vw;">
    <div class="col" style="padding-inline-start: 2vw;">
        <div
            *ngIf="profilesOnCardDesc.length != 0"
            style="font-size: 2.5vh; padding-bottom: 2vh;">
            {{ profilesOnCardDesc.length == 1 ? ('GENERAL.PROFILE' | translate) : ('GENERAL.PROFILES' | translate) }}:
            <span
            style="font-weight: 700;"
            *ngFor="let profileOnCardDesc of profilesOnCardDesc">
            {{ profileOnCardDesc }}
            </span>
        </div>
        <form
        [formGroup]="filtering"
        style="margin-top: 1vh; ">
            <div class="flex-conteiner-row">
                <div>
                    <app-autocomplete
                        *ngIf="showChooseProfile()"
                        style="padding-inline-end: 1vw; font-size: 2vh;"
                        [width]="'10'"
                        [value]="f.profile.value"
                        (getValue)="f.profile.setValue($event); filterContractAccordingProfile($event)"
                        label="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.CHOOSE_PROFILE' | translate }}"
                        [options]='profiles'
                        [displayBy]="'name'"
                        [returnBy]="'id'">
                    </app-autocomplete>
                    <app-autocomplete
                        style="padding-inline-end: 1vw; font-size: 2vh;"
                        [width]="'10'"
                        [value]="f.contract.value"
                        (getValue)="filterContractAccordingContract($event)"
                        label="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.CHOOSE_CONTRACT_KIND' | translate }}"
                        [options]='contracts'
                        [displayBy]="'name'"
                        [returnBy]="'id'">
                    </app-autocomplete>
                    <!-- <app-autocomplete
                        style="padding-inline-end: 1vw; font-size: 2vh;"
                        [width]="'10'"
                        [value]="f.area.value"
                        (getValue)="filterContractAccordingArea($event)"
                        label="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.CHOOSE_AREA' | translate }}"
                        [options]='areas'
                        [displayBy]="'name'"
                        [returnBy]="'id'">
                    </app-autocomplete> -->
                </div>
                <div class="freeSearchWrapper">
                    <input
                    class="freeSearch"
                    type="text"
                    formControlName="search"
                    id="search"
                    placeholder="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.FREE_SEARCH' | translate }}"/>
                </div>
            </div>
        </form>
        <div>
        <app-error-message *ngIf="haveGoldKavProfile" margin="0 0 1.7vh 0">
          {{ "PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.JUST_GOLD_KAV_CONTRANTS" | translate }}
        </app-error-message>
        <app-error-message *ngIf="adminCashbox" margin="0 0 1.7vh 0">
          {{ "PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.JUST_OPERATOR_CONTRANTS" | translate }}
        </app-error-message>
        </div>
        <cdk-virtual-scroll-viewport
        itemSize="50"
        style="height: 55vh;">
            <div>
                <div
                *ngIf="contractsToLoading.length == 0"
                class="noContractsToShow">
                {{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_CONTRACT.NO_DISPLAY_CONTRACTS' | translate }}
                </div>
                <table
                *ngIf="contractsToLoading.length != 0"
                class="table"
                #contractsTable>
                    <tr class="topTable">
                        <th
                        *ngFor="let titleContract of titleContracts; let i = index"
                        (click)="onClickSort(i)">
                        <div class="insideTh">
                            <label>{{ titleContract }}</label>
                            <div *ngIf="isLoading[i]">
                                <app-spinner></app-spinner>
                            </div>
                        </div>
                        </th>
                    </tr>
                    <ng-container
                    *ngFor="let contractToLoading of contractsToLoading; let i = index">
                        <tr
                        *ngFor="let contract of contractToLoading | searchInTable: f.search.value;"
                        [style.background-color]="this.dataOfContract[i] ? this.dataOfContract[i].details[contract.index].contractPriceId == isChooseContract ? '#F5F5F5' : null : null">
                            <ng-container *ngFor="let item of contract | keys">
                                <td
                                *ngIf="item.key != 'index' && item.key != 'price'"
                                (click)="chooseContract(i, contract.index)">
                                    {{ item.key == 'exactPrice' ? (item.value | currency)  : item.value }}
                                </td>
                            </ng-container>
                            <td>
                                <app-button
                                text="{{ 'GENERAL.CHOOSE' | translate }}"
                                [color]="this.dataOfContract[i] ? this.dataOfContract[i].details[contract.index].contractPriceId == isChooseContract ? 'white' : '#007D78' : null"
                                [backGroundColor]="this.dataOfContract[i] ? this.dataOfContract[i].details[contract.index].contractPriceId == isChooseContract ? '#007D78': 'white': null"
                                [width]="'5'"
                                (clickOnButton)="selectContract(i, contract)"> <!--j מכיל את contract.index -->
                                </app-button>
                            </td>
                        </tr>
                    </ng-container>
                </table>
            </div>
        </cdk-virtual-scroll-viewport>
    </div>
    <!-- <div class="col-4">
        <div>אנא בחר אזור על המפה</div>
        <agm-map [latitude]="LAT_LOCATION" [longitude]="LNG_LOCATION" [zoom]="ZOOM">
            [visible]="isMOTZoneShow" (polyClick)="infoWindowShowMOTZone($event, poly, i)" [strokeColor]="'#06c104'"
            <agm-polygon *ngFor="let poly of MOTZone; let i = index" [paths]="poly.polygonPointArr" (polyClick)="choosePoly(poly)" [fillColor]="checkMOTZone(poly)" [fillOpacity]="0.55" [strokeOpacity]="0.8" [strokeWeight]="1" [zIndex]="0">
            </agm-polygon>
        </agm-map>
    </div> -->
    <app-info-modal
        id="info-modal-display-contract"
        [backgroundClickFunction]="infoModalBackgroundClickFunction"
        [icon]="infoModalIcon"
        [title]="infoModalTitle"
        [subTitle]="infoModalSubTitle"
        [hr]="infoModalHr"
        [btnTitle]="infoModalBtnTitle"
        [btnRightText]="infoModalBtnRightText"
        [btnRightClickFun]="infoModalBtnRightClickFun"
        [btnLeftText]="infoModalBtnLeftText"
        [btnLeftClickFun]="infoModalBtnLeftClickFun"
        [error]="infoModalError">
    </app-info-modal>
</div>
