<form
[formGroup]="addProfileForm"
(ngSubmit)="onAddProfile()">
    <div class="formDetails">
        <div class="formDetail">
            <app-autocomplete
                [width]="'11'"
                [value]="addProfileForm.controls.profileToLoad"
                (getValue)="addProfileForm.controls.profileToLoad.setValue($event); initAutoComplite()"
                label="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.EDIT_PROFILE.CHOOSE_PROFILE' | translate }}"
                [options]='profiles'
                [displayBy]="'name'"
                [returnBy]="'id'">
            </app-autocomplete>
        </div>

        <div class="formDetail">
            <mat-form-field
            appearance="outline"
            style="width: 11vw">
                <mat-label>{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.EDIT_PROFILE.CHOOSE_EXPIRATION_DATE' | translate }}</mat-label>
                <input
                    matInput
                    formControlName="endDateProfile"
                    [matDatepicker]="picker"
                    [min]="minDate"
                    [max]="maxDate">
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div class="formDetails" *ngIf="needSendToServerAddingProfile">
        <div class="formDetail">
            <mat-form-field appearance="outline" style="width: 11vw;">
                <mat-label>{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.EDIT_PROFILE.ID_NUMBER' | translate }}</mat-label>
                <input matInput formControlName="idNumber" type="number"/>
            </mat-form-field>
        </div>

        <div class="formDetail">
            <mat-form-field appearance="outline" style="width: 11vw;">
                <mat-label>{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.EDIT_PROFILE.PIN_CODE' | translate }}</mat-label>
                <input matInput formControlName="pinCode" type="number"/>
            </mat-form-field>
        </div>
    </div>
    <button
        mat-raised-button
        class="btn"
        type="submit"
        [disabled]="!addProfileForm.valid">
        {{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.EDIT_PROFILE.ADD_PROFILE' | translate }}
    </button>
    <app-info-modal
        id="info-modal-edit-profile"
        [backgroundClickFunction]="infoModalBackgroundClickFunction"
        [icon]="infoModalIcon"
        title="{{ 'GENERAL.CANT_ADD_PROFILE' | translate }}"
        [subTitle]="infoModalSubTitle"
        [hr]="infoModalHr"
        [btnTitle]="infoModalBtnTitle"
        [btnRightText]="infoModalBtnRightText"
        [btnRightClickFun]="infoModalBtnRightClickFun"
        btnLeftText="{{ 'GENERAL.OK' | translate }}"
        [btnLeftClickFun]="infoModalBtnLeftClickFun"
        [error]="infoModalError">
    </app-info-modal>
</form>
