form {
    display: flex;
    flex-direction: column;
    padding-inline: 2.5vh;
    padding-block: 1.2vh;
    font-size: 2vh;
}

.formDetails {
    display: flex;
    text-align: center;
    column-gap: 2.5vh;
}

.formDetail {
    display: flex;
    text-align: center;
    column-gap: 1.2vh;
}

.btn {
    font-size: 1.8vh;
    border-radius: 1vh;
    background-color: #007D78;
    color: white;
    padding-block: 1vh;
    align-self: center;
    margin-top: 2.5vh;
}

.btn:hover {
    background-color: #016966;
    box-shadow: 2px 2px 1.2vh #00000081;
}

.btn[disabled] {
    background-color: #007D78;
    color: white;
    cursor: not-allowed;
    pointer-events: all !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
