.container-fluid {
    padding: 0;
    height: 100%;
    border-bottom: 1px #0000000D solid;
    background-color: white;
    display: grid;
    align-items: center;
    justify-items: stretch;
}

.row {
    height: 100%;
    margin: 0;
    padding: 0;
}

.col {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

app-money-header-component {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 1.5vh;
}

.cashboxSumNis {
    font-weight: bold;
}

.sumLabelParent {
    padding: 0;
}

.cashboxName {
  text-align: center;
}

.cashboxNameBig {
  font-size: 2.8vw;
}

.cashboxNameSmall {
  font-size: 2.8vh;
}

.cashboxSumDiv {
    display: flex;
    column-gap: 5px;
    align-items: baseline;
}

.cashboxSum {
    font-size: 2.8vw;
}

.sumLabel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2.8vh
}
