<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="row sumLabelParent" [ngStyle]="!adminCashbox && {'width': '14vw'}">
                <div class="sumLabel">
                    <label class="cashboxName" [ngClass]="adminCashbox ? 'cashboxNameBig' : 'cashboxNameSmall'"> {{ cashBoxName }} </label>
                    <div *ngIf="!adminCashbox" class="cashboxSumDiv">
                        <label class="cashboxSum">{{ getSumCashbox() | currency }} </label>
                    </div>
                </div>
            </div>
        </div>
        <ng-container *ngIf="!adminCashbox">
          <div class="col" *ngFor="let type of cashbox | cashboxKeys">
              <div class="col">
                  <app-money-header-component
                  [type]="type.key"
                  [amount]="type.value">
                  </app-money-header-component>
              </div>
          </div>
        </ng-container>
    </div>
</div>
