:host {
    padding-top: 5vh;
}

::ng-deep app-credit-card-form {
    direction: ltr !important;
}

::ng-deep .card-input__label {
    direction: rtl !important;
}

::ng-deep .card-form__button {
    background: #007D78 !important;
}

::ng-deep .card-form__button:hover {
    background: #01726e !important;
}

::ng-deep .card-form__button:active {
    border: 3px solid #005856 !important;
}


::ng-deep .card-form__inner {
    box-shadow: none !important;
}

::ng-deep .mat-tab-body-content {
    overflow: hidden !important;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
}
