<!-- [logoImgPath]="'./assets/logo.png'" -->
<ngx-interactive-paycard 
    [chipImgPath]="'./assets/imgs/chip.png'" 
    [frontBgImgPath]="'./assets/imgs/creditCardBackground.jpg'" 
    [backBgImgPath]="'./assets/imgs/creditCardBackground.jpg'"
    [cardNumberFormat]="cardNumberFormat" 
    [cardNumberMask]="cardNumberMask" 
    [cardLabels]="cardLabel"
    [formLabels]="formLabel"
    (submitEvent)="onSubmit($event)"
    (changeCard)="formChanged($event)"
    >
    <!-- (changeCardNumber)="showChangesCardNumber($event)" -->
</ngx-interactive-paycard>
<div class="error">
    <label [style.opacity]="error ? '1' : '0'">
        {{ error }}
    </label>
</div>