input {
    direction: ltr;
    width: 8vh;
    border: none;
    background-color: #F5F5F5;
    outline: none;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
    background-color: transparent;
    align-items: center;
    justify-items: center;
    color: #007D78;
    font-weight: bold;
    border: none;
    font-size: 2vh;
    font-family: monospace;
}

.buttonIn {
 color :#007D78;
}

.buttonOut {
  color: #B53535;
}

.inputIn {
  color :#007D78;
  border: 1px solid #007D78;
  box-shadow: 0px 3px 6px #00000029;
}

.inputOut {
  color: #B53535;
  border: 1px solid #B53535;
  box-shadow: 0px 3px 6px #00000029;
}

button:disabled {
  cursor: not-allowed;
  color: #616161 !important;
}

.disabled {
  cursor: not-allowed;
  color: #616161 !important;
}
