<div style="direction: ltr;">
  <button
      type="button"
      class="minusBtn"
      (click)="onMinus()"
      [ngClass]="amount == null || amount == 0 ? 'disabled' : payload == 'in' ? 'buttonIn' : payload == 'out' ? 'buttonOut' : null"
      > -
  </button>
  <input
  contentEditable
  type="number"
  [(ngModel)]='amount'
  (ngModelChange)="onInputChange($event)"
  [ngClass]="payload == 'in' && amount > 0 ? 'inputIn' : payload == 'out' && amount > 0 ? 'inputOut': null"
  (keydown)="onKeydown($event)"
  (blur)="onBlurInput()"
  #input
  >
  <button
      type="button"
      class="plusBtn"
      (click)="onPlus()"
      [ngClass]="amount == maxValue ? 'disabled' : payload == 'in' ? 'buttonIn' : payload == 'out' ? 'buttonOut' : null"
      >+
  </button>
</div>
