<div
class="jw-modal"
[ngStyle]="zIndex ? {'z-index': zIndex} : null">
    <div class="jw-modal-body">
        <ng-content></ng-content>
    </div>
</div>
<div
class="jw-modal-background"
[ngClass]="{'extraBlur': extraBlur == true}"
[ngStyle]="zIndex ? {'z-index': zIndex-1} : null">
</div>