.jw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* z-index must be higher than .jw-modal-background */
    z-index: 1100;

    /* enables scrolling for tall modals */
    overflow: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jw-modal-body {
    overflow: auto;
    padding: 2vh;
    background: #fff;
    /* margin exposes part of the modal background */
    margin: 4vh;
    border-radius: 1vh;
    border: 1px solid #00000019;
}

.jw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    /* semi-transparent black  */
    /* background-color: #000;
    opacity: 0.75; */

    backdrop-filter: blur(8px);
    background-color: rgba(0,0,0,0.4);

    /* z-index must be below .jw-modal and above everything else  */
    z-index: 1099;
}

.extraBlur {
    backdrop-filter: blur(20px);
}

body.jw-modal-open {
    /* body overflow is hidden to hide main scrollbar when modal window is open */
    overflow: hidden;
}
