<div class="row">
    <div class="col">
        <table class="table">
            <tbody>
                <tr *ngFor="let item of paymentCashbox | cashboxKeys">
                    <td>
                        <div class="row">
                            <div class="col">
                                <img [src]=_getImageUrl(item.key)>
                            </div>
                            <div class="col currency" *ngIf="_getValue(item.key)/100 > 10">
                              {{ 'GENERAL.BILL' | translate }} {{ _getValue(item.key)/100 | currency }}
                            </div>
                            <div class="col currency" *ngIf="_getValue(item.key)/100 <= 10">
                              {{ 'GENERAL.COIN' | translate }} {{ _getValue(item.key)/100 | currency }}
                            </div>
                        </div>
                    </td>
                    <td>
                        <app-amount-input
                        [type]=item.key
                        payload="in"
                        info="payment"
                        ></app-amount-input>
                    </td>
                    <td class="totalCoin">
                        <ng-container *ngIf="paymentCashbox.getCoinSum(item.key) > 0">
                          {{ paymentCashbox.getCoinSum(item.key) | currency }}
                        </ng-container>
                    </td>
                </tr>
                <tr class="total">
                    <td></td>
                    <ng-container *ngIf="type == 'report'">
                        <td></td>
                    </ng-container>
                    <td class="total">
                        {{ 'GENERAL.TOTAL' | translate }}  <label>{{ paymentCashbox.getSum() | currency }}</label>
                    </td>
                    <ng-container *ngIf="type != 'report'">
                        <td>
                            <button
                                [disabled]="disabled"
                                #submitButton
                                mat-raised-button
                                [style.cursor]="disabled ? 'not-allowed' : 'pointer'"
                                (click)="clicked()">
                                {{ text }}
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</div>
