.titleDiv {
    display: flex;
    flex-direction: column;
}

table {
    width: 100%;
    margin-bottom: 0;
}

button {
    background-color: #007D78;
    color: white;
    padding-block: 0.5vh;
    font-size: 2vh;
}

.submitBtn {
    border-radius: 0.5vh;
    color: white;
    background-color: #007D78;
}

.submitBtn[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}


img {
    height: 4.1vh;
}

td {
    text-align: center;
    vertical-align: middle;
    font-size: 2vh;
}

td > div {
    align-items: center;
}


td.totalCoin {
    width: 14vw;
}

tr.total>td {
    border-bottom: none;
}

td.total {
    width: 14vw;
    font-weight: bold;
    font-size: 2vh;
}

td.total>label {
    font-size: 2.5vh;
}

.title {
    font-size: 2vh;
    font-weight: bold;
}

.subTitle {
    font-size: 1.7vh;
}

.currency {
  direction: rtl;
}
