.designCard {
    background-color: white;
    margin: 1.5vw;
    border: 1px solid #00000019;
}

th {
    padding-block: 2.1vh;
}

.eventDetails {
  display: flex;
  justify-content: space-between;
  padding-inline: 1vh;
  padding-block: 0.5vh;
  font-size: 2vh;
}

.header {
    align-items: center;
    display: flex;
    padding-top: 2vh;
    margin-inline: 1.5vh;
    justify-content: space-between;
}

.port-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1vh;
}

.port-wrapper > label {
    font-size: 2vh;
    font-weight: bold;
}

.port-wrapper > input {
    font-size: 2vh;
    width: 8vh;
    justify-items: center;
    outline: none;
    border: 1px solid #00000019;
}

label.title {
    font-size: 2.3vh;
    font-weight: bold;
}

.events {
    overflow: auto;
    height: 59vh;
}

.viewAndLoadRavkav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ::-webkit-scrollbar {
  width: 1vh !important;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
