<div class="row" style="height: 100%;">
    <div class="col-8 designCard">
        <div class="header">
            <label class="title">{{ 'PAGES.MAIN.HOME.PAGE_SUB_TITLE' | translate }}</label>
            <div class="port-wrapper">
                <label for="port">{{ 'PAGES.MAIN.HOME.PORT' | translate }}</label>
                <input
                #port
                id="port"
                name="port"
                type="number"
                >
            </div>
        </div>
        <hr>
        <div class="viewAndLoadRavkav" style="text-align: center;">
            <div *ngIf="!mainService.errorText" style="padding: 4vh 0; font-size: 3vh;">
                {{ mainService.ravkavText | translate }}
            </div>
            <app-error-message *ngIf="mainService.errorText" fontSize="3vh" margin="2.3vh 0">
                {{ mainService.errorText | translate }}
            </app-error-message>
            <img style="height: 42vh;" src={{mainService.ravkavImg}}>
        </div>
    </div>
    <div class="col-3 designCard">
        <table class="table">
            <tbody>
                <tr>
                    <th class="title" style="font-size: 2.3vh; padding: 2vh !important;">
                    {{ 'PAGES.MAIN.HOME.ACTIVITY_LOG' | translate }}, {{ todayString }}
                    </th>
                </tr>
                <div class="events" #diary [scrollTop]="diary.scrollHeight">
                    <div *ngFor="let event of events">
                        <div class="eventDetails">
                            <div>
                                {{ event.allDescription }}
                            </div>
                            <div>
                                {{ event.EntryDt | date:'HH:mm' }}
                            </div>
                        </div>
                    </div>
                </div>
            </tbody>
        </table>
    </div>
</div>

<app-info-modal
  id="info-modal-home"
  [backgroundClickFunction]="null"
  [icon]="infoModalIcon"
  [title]="infoModalTitle"
  [subTitle]="infoModalSubTitle"
  [hr]="infoModalHr"
  [btnTitle]="infoModalBtnTitle"
  [btnRightText]="infoModalBtnRightText"
  [btnRightClickFun]="infoModalBtnRightClickFun"
  [btnLeftText]="infoModalBtnLeftText"
  [btnLeftClickFun]="infoModalBtnLeftClickFun"
  [error]="infoModalError">
</app-info-modal>

<router-outlet></router-outlet>
