<div class="componentRoot">
  <form
  class="row mainRow"
  #f="ngForm"
  (ngSubmit)="onSubmit()">
      <div class="col-9 formSection">
          <div class="row inputsRow">
              <div class="col inputsCol">
                  <div class="row">
                  </div>
                  <div class="row">
                      <div class="col">
                          <table class="table">
                              <tbody>
                                  <tr>
                                      <th class="title">{{ 'PAGES.MAIN.GENERAL_DEPOSIT_FROM_CASHBOX.PAGE_TITLE' | translate }}</th>
                                      <th></th>
                                      <th></th>
                                  </tr>
                                <tr
                                *ngFor="let item of depositCashbox | cashboxKeys">
                                  <td>
                                      <div class="row">
                                          <div class="col">
                                              <img [src]=_getImageUrl(item.key)>
                                          </div>
                                          <div class="col currency" *ngIf="_getValue(item.key)/100 > 10">
                                            {{ 'GENERAL.BILL' | translate }} {{ _getValue(item.key)/100 | currency }}
                                          </div>
                                          <div class="col currency" *ngIf="_getValue(item.key)/100 <= 10">
                                            {{ 'GENERAL.COIN' | translate }} {{ _getValue(item.key)/100 | currency }}
                                          </div>
                                      </div>
                                  </td>
                                  <td>
                                      <app-amount-input
                                      [type]=item.key
                                      payload="out"
                                      [maxValue]="currCashbox[item.key]"
                                      ></app-amount-input>
                                  </td>
                                  <td class="total">
                                      <div *ngIf="depositCashbox.getCoinSum(item.key) > 0">
                                          {{ depositCashbox.getCoinSum(item.key) | currency }}
                                      </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-3 btnSection">
        <div class="row sumLabelRow">
          <div class="col sumLabel">
              <label>{{ 'PAGES.MAIN.GENERAL_DEPOSIT_FROM_CASHBOX.REASON' | translate }}:</label>
          </div>
        </div>
        <div class="row submitBtnRow">
            <div class="col submitBtnCol">
                <textarea
                class="checkoutReason"
                [ngStyle]="checkoutReasonError ? { 'border': '2px red solid' } : null"
                (focus)="checkoutReasonFocus()"
                ngModel
                name="checkoutReason"
                #checkoutReason
                ></textarea>
            </div>
        </div>


        <div class="row sumLabelRow">
          <div class="col sumLabel">
            <label>{{ 'GENERAL.TOTAL' | translate}} {{ 'PAGES.MAIN.GENERAL_DEPOSIT_FROM_CASHBOX.PAGE_TITLE' | translate }}:</label>
            <div>
              <label class="sumAmount">{{ depositCashbox.getSum() | currency }}</label>
            </div>
          </div>
        </div>
        <div class="row submitBtnRow">
          <div class="col submitBtnCol">
            <button
              class="btn submitBtn"
              type="submit"
              [ngClass]="{'disabled': depositCashbox.getSum() == 0 || !f.form.value.checkoutReason }">
              {{ 'PAGES.MAIN.GENERAL_DEPOSIT_FROM_CASHBOX.SUBMIT_BUTTON' | translate }}</button>
          </div>
        </div>
      </div>
  </form>
</div>

<app-info-modal
  id="info-modal-general-deposit-from-cashbox"
  [backgroundClickFunction]="infoModalBackgroundClickFunction"
  [icon]="infoModalIcon"
  [title]="infoModalTitle"
  [subTitle]="infoModalSubTitle"
  [hr]="infoModalHr"
  [btnTitle]="infoModalBtnTitle"
  [btnRightText]="infoModalBtnRightText"
  [btnRightClickFun]="infoModalBtnRightClickFun"
  [btnLeftText]="infoModalBtnLeftText"
  [btnLeftClickFun]="infoModalBtnLeftClickFun"
  [error]="infoModalError">
</app-info-modal>

<app-pop-up *ngIf="emptyCheckoutReason">
  {{ 'PAGES.MAIN.GENERAL_DEPOSIT_FROM_CASHBOX.MUST_ADD_REASON' | translate }}
</app-pop-up>

<app-pop-up *ngIf="moreThanMax">
  {{ 'GENERAL.QUANTITY_EXCEEDS' | translate }}
</app-pop-up>

<app-pop-up *ngIf="lessThanZero">
  {{ 'GENERAL.CANT_NEGATIVE' | translate }}
</app-pop-up>
