.componentRoot {
  height: 100%;
  padding: 0;
}

.mainRow {
  height: 100%;
}

.formSection {
  /* border: orange 1px solid; */
  height: 100%;
  padding: 0;
}

.btnSection {
  /* border: red 1px solid; */
  height: 100%;
  display: flex;
  row-gap: 2vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 2.7vh;
  padding-inline-end: 4vh;
}

.sumLabelRow {
  width: 100%;
}

.sumLabel {
  font-size: 2.5vh;
  font-weight: bold;
  margin-bottom: 1.5vh;
  text-align: center;
  display: flex;
  row-gap: 2vh;
  flex-direction: column;
}

.sumAmount {
  font-size: 3.5vh;
}

.submitBtnRow {
  width: 100%;
}

.submitBtnCol {
  padding: 0;
}

.submitBtn {
  border-radius: 5px;
  color: white;
  background-color: #007D78;
  width: 100%;
}

.submitBtn[disabled] {
  cursor: not-allowed;
  pointer-events: all !important;
}

.inputsRow {
  padding: 0;
  margin: 0;
  height: 100%;
}

.inputsCol {
  border: 1px solid #00000019;
  margin-inline: 0;
  margin: 2.5vh;
  background-color: white;
  padding: 1.5vh;
}

img {
  height: 4.1vh;
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 2vh;
}

td > div {
  align-items: center;
}

td.total {
  width: 14vw;
  font-weight: bold;
}

th.title {
font-size: 2.6vh;
padding-bottom: 1.5vh;
}

button {
font-size: 2.2vh;
}

.checkoutReason {
  width: 100%;
  height: 10vh !important;
  max-height: 45vh;
  height: 111px;
  font-size: 2.5vh;
  border-radius: 1vh;
  padding: 1.5vh;
}

.disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.currency {
  direction: rtl;
}

