.generalContainer {
    z-index: 1100;
    display: flex;
    justify-content: center;
}

.contentWrapper {
    position: absolute;
    bottom: 2.5vh;
    background-color: black;
    color: white;
    border-radius: 1vh;
    padding-block: 2.5vh;
    padding-inline: 3vh;
    font-size: 2.5vh;
}

.close {
    position: absolute;
    left: 1.5vh;
    top: 1vh;
    cursor: pointer;
}
