.loginContainer {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.loginFormRow {
    background-color: #FFFFFF;
    width: fit-content;
    margin-inline-start: calc(10%);
    border-radius: 1.5vh;
    padding: 5vh;
    box-shadow: 0px 3px 3vh rgba(0,0,0,0.2);
}

.loginFormCol {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.loginForm {
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-between;
}

.title {
    color: #007D78;
    font-size: 5vh;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    align-self: center;
    padding: 1.5vh;
    margin-bottom: 3.5vh;
}

.subTitle {
    font-weight: bold;
    margin-bottom: 3vh;
    font-size: 3vh;
}

.btn-primary {
    background-color: #007D78;
    border: 1px solid #029994;
    font-weight: bold;
    font-size: 2.5vh;
    border-radius: 1.5vh;
    padding: 1.5vh;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #016966;
}

.loginForm > input {
    outline: none;
    border: 1px solid #00000033;
    padding: 1.5vh;
    border-radius: 1.5vh;
    width: 45vh;
    font-size: 2.5vh;
}

.loginAdminForm {
    display: flex;
    column-gap: 2vh;
}

.loginAdminForm > input {
    outline: none;
    border: 1px solid #00000033;
    padding: 1.1vh;
    border-radius: 1vh;
    font-size: 2vh;
}

.loginPopUpUserSessions {
    column-gap: 3vh;
    display: flex;
    align-items: center;
}

.loginPopUpOtherSessions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUpBtn {
    font-weight: normal;
    font-size: medium;
    border-radius: 1vh;
    padding-block: 1.3vh;
    padding-inline: 3vh;
    border: none;
    width: 14vh;
    min-width: fit-content;
}

.loginPopUpUserSessionsLabels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dayClosed {
    width: 37vh;
}

.cashboxLocked {
    width: 17vh;
}

.noClusterId {
    width: 27vh;
}

.loginPopUpUserSessions > .popUpBtn {
    margin-top: 1.5vh;
    font-size: 2.4vh;
}

.error {
    color: red;
}

.loginForm > .error {
    font-size: 2.5vh;
    align-self: center;
    height: 3.2vh;
}

.titleAndError {
    font-size: 1.7vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    align-self: start;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
