<app-upper-strap></app-upper-strap>
<div class="loginContainer" [ngStyle]="{backgroundImage: 'url(assets/loginBackground.jpg)'}">
    <div class="row loginFormRow">
        <div class="col loginFormCol">
            <label class="title"> {{ 'PAGES.LOGIN.TITLE' | translate }} </label>
            <label class="subTitle">{{ 'PAGES.LOGIN.SUB_TITLE' | translate }}</label>
            <form
            class="loginForm"
            (ngSubmit)="checkIfReturnFromBreak()"
            #loginForm="ngForm">
              <input
                placeholder="{{ 'PAGES.LOGIN.USER_NAME' | translate }}"
                type="email"
                ngModel
                name="email">
              <input
                placeholder="{{ 'PAGES.LOGIN.PASSWORD' | translate }}"
                type="password"
                ngModel
                name="password"
              >
              <label class="error">{{ error | async }}</label>
              <button
              type="submit"
              class="btn btn-primary shadow-none"
              >
              {{ isLoading ? ('GENERAL.LOADING' | translate) : ('PAGES.LOGIN.ENTER_BUTTON' | translate) }}
              </button>
            </form>
        </div>
    </div>
</div>

<app-select-cashbox-modal
    id="select-box-modal"
    [cashboxList]="devices">
</app-select-cashbox-modal>

<app-login-pop-up *ngIf="noClusterId">
    <div class="loginPopUpUserSessions">
        <div class="loginPopUpUserSessionsLabels noClusterId">
            <label>{{ 'PAGES.LOGIN.NO_CLUSTER_ID' | translate }}</label>
        </div>
        <button
            class="btn btn-primary shadow-none popUpBtn"
            (click)="closeLoginPopUp()">{{ 'GENERAL.LOADING' | translate }}
        </button>
    </div>
</app-login-pop-up>

<app-login-pop-up *ngIf="dayClosed">
    <div class="loginPopUpUserSessions">
        <div class="loginPopUpUserSessionsLabels dayClosed">
            <label>{{ 'GENERAL.FOR' | translate }} {{ sessionStorage.getItem(sessionKeys.cashboxName) }} {{ 'PAGES.LOGIN.CLOSE_DAY_DONE' | translate }}</label>
            <label>{{ 'PAGES.LOGIN.CAN_OPEN_SHIFT_TOMORROW' | translate }}</label>
        </div>
        <button
            class="btn btn-primary shadow-none popUpBtn"
            (click)="closeLoginPopUp()">{{ 'GENERAL.LOADING' | translate }}
        </button>
    </div>
</app-login-pop-up>

<app-login-pop-up *ngIf="cashboxLocked">
    <div class="loginPopUpUserSessions">
        <div class="loginPopUpUserSessionsLabels cashboxLocked">
            <label>{{ 'PAGES.LOGIN.LOCK' | translate }}</label>
        </div>
        <button
            class="btn btn-primary shadow-none popUpBtn"
            (click)="closeLoginPopUp()">{{ 'GENERAL.OK' | translate }}
        </button>
    </div>
</app-login-pop-up>

<app-login-pop-up *ngIf="userOpenSessions">
    <div class="loginPopUpUserSessions">
        <div class="loginPopUpUserSessionsLabels">
            <label>{{ 'PAGES.LOGIN.ALREADY_CONNECT' | translate }} {{ sessionStorage.getItem(sessionKeys.cashboxName) }}</label>
            <label>
              {{ 'PAGES.LOGIN.CHOOSE_ANOTHER' | translate }} {{ 'GENERAL.OR' | translate }} {{ 'PAGES.LOGIN.CONNECT_HERE' | translate }}
            </label>
        </div>
        <button
            class="btn btn-primary shadow-none popUpBtn"
            (click)="logoutFromSessions(userOpenSessions)">{{ 'PAGES.LOGIN.CONNECT' | translate }}
        </button>
    </div>
</app-login-pop-up>

<app-login-pop-up *ngIf="otherOpenSessions">
    <div class="loginPopUpOtherSessions">
        <label>
        {{ 'PAGES.LOGIN.ANOTHER_USER_CONNECT' | translate }}  {{ sessionStorage.getItem(sessionKeys.cashboxName) }}
        </label>
        <label>
            {{ 'PAGES.LOGIN.CHOOSE_ANOTHER' | translate }} {{ 'GENERAL.OR' | translate }} {{ 'PAGES.LOGIN.OPEN_WITH_ADMIN' | translate }}
        </label>
        <div class="titleAndError">
            <label>{{ 'PAGES.LOGIN.ADMIN_DETAILS' | translate }}</label>
            <label class="error">{{ errorAdmin | async }}</label>
        </div>
        <form
            class="loginAdminForm"
            (ngSubmit)="loginAdmin()"
            #loginAdminForm="ngForm">
                <input
                    placeholder="{{ 'PAGES.LOGIN.USER_NAME' | translate }}"
                    type="email"
                    ngModel
                    name="email">
                <input
                    placeholder="{{ 'PAGES.LOGIN.PASSWORD' | translate }}"
                    type="password"
                    ngModel
                    name="password"
                >
                <button
                type="submit"
                class="btn btn-primary shadow-none popUpBtn"
                >
                {{ isLoadingAdmin ? ('GENERAL.LOADING' | translate) : ('PAGES.LOGIN.ENTER_BUTTON' | translate) }}
                </button>
            </form>
    </div>
</app-login-pop-up>
