<div class="row wrapper">
    <div
        class="parameter">
        {{ 'PAGES.MAIN.PAY_REPORT.PRICE' | translate }}
        <span
            class="value">
            {{ price | currency }}
        </span>
    </div>
</div>
