<div class="menuHeader">
    <div class="linksRow">
        <div>
            <div>
                <div class="menuWrapper">
                    <div class="linkRow" routerLink='/main/home' routerLinkActive='active'>
                        <div>
                            <img class="linkRowBtnIcon" src="./assets/icons/homePageIcon.svg">
                        </div>
                        <div class="linkText">{{ 'PAGES.MAIN.HOME.PAGE_TITLE' | translate }}</div>
                    </div>
                    <!-- <div class="row linkRow" routerLink='/main/contractsAndRegions' routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/contractsAndAreasIcon.svg">
                        </div>
                        <div class="col-10 linkText">חוזים ואזורים</div>
                    </div> -->
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    <ng-container *ngIf="!adminCashbox">
                      <div class="linkRow" routerLink='/main/depositToCashbox' routerLinkActive='active'>
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/depositToCashboxIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.DEPOSIT_TO_CASHBOX.PAGE_TITLE' | translate }}</div>
                      </div>
                      <div class="linkRow" routerLink='/main/changing' routerLinkActive='active'>
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/changingIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.CHANGING.PAGE_TITLE' | translate }}</div>
                      </div>
                      <div class="linkRow" routerLink='/main/stocktaking' routerLinkActive='active'>
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/stocktakingIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.STOCKTAKING.PAGE_TITLE' | translate }}</div>
                      </div>
                      <div class="linkRow" routerLink='/main/depositToBank' routerLinkActive='active'>
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/depositToBankIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.DEPOSIT_TO_BANK.PAGE_TITLE' | translate }}</div>
                      </div>
                      <div *ngIf="storeService.operatorConfiguration.supportGeneralDepositFromCashbox" class="linkRow" routerLink='/main/generalDepositFromCashbox' routerLinkActive='active'>
                        <div>
                            <img class="linkRowBtnIcon" src="./assets/icons/depositToCashboxIcon.svg">
                        </div>
                        <div class="linkText">{{ 'PAGES.MAIN.GENERAL_DEPOSIT_FROM_CASHBOX.PAGE_TITLE' | translate }}</div>
                      </div>
                      <div class="linkRow" routerLink='/main/payReport' routerLinkActive='active'>
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/oweReportIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.PAY_REPORT.PAGE_TITLE' | translate }}</div>
                      </div>
                    </ng-container>
                </div>
            </div>
            <div class="footerMenu">
                <div class="menuWrapper">
                    <div class="row">
                        <div class="col hrParent">
                            <hr>
                        </div>
                    </div>
                    <ng-container *ngIf="!adminCashbox">
                      <div class="linkRow" (click)="openInfoModalGoToBreak()">
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/goToBreakIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.COMPONENTS.MENU_HEADER.TAKE_BREAK' | translate }}</div>
                      </div>
                      <div class="linkRow" (click)="openInfoModalClosingShift()">
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/disconnectIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.COMPONENTS.MENU_HEADER.CLOSE_SHIFT' | translate }}</div>
                      </div>
                      <div class="linkRow" (click)="openInfoModalClosingDay()">
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/closeDayIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.COMPONENTS.MENU_HEADER.CLOSE_DAY' | translate }}</div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="adminCashbox">
                      <div class="linkRow" (click)="openInfoModalExit()">
                          <div>
                              <img class="linkRowBtnIcon" src="./assets/icons/disconnectIcon.svg">
                          </div>
                          <div class="linkText">{{ 'PAGES.MAIN.COMPONENTS.MENU_HEADER.EXIT' | translate }}</div>
                      </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <app-info-modal
    id="info-modal-menu-header"
    [backgroundClickFunction]="infoModalBackgroundClickFunction"
    [icon]="infoModalIcon"
    [title]="infoModalTitle"
    [subTitle]="infoModalSubTitle"
    [hr]="infoModalHr"
    [btnTitle]="infoModalBtnTitle"
    [btnRightText]="infoModalBtnRightText"
    [btnRightClickFun]="infoModalBtnRightClickFun"
    [btnLeftText]="infoModalBtnLeftText"
    [btnLeftClickFun]="infoModalBtnLeftClickFun"
    [warning]="infoModalWarning">
    </app-info-modal>
</div>
