.menuHeader {
    background-color: #007D78;
    height: 100%;
    padding: 0;
    padding-inline-start: 1vh;
}

.topRow {
    /* background-color: white; */
    opacity: 0.95;
    padding-block: 2.5vh;
    padding-inline-start: 2.5vh;
    text-align: center;
    margin: 0;
}

.cashboxName {
    font-size: 4vh;
}

.sumLabel {
    font-size: 6vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.sumBox {
    border-radius: 1.5vh;
    padding: 1vh;
}

hr {
    width: 90%;
    margin: 1vh;
}

.linksRow {
  height: 74.5vh;
  color: white;
  padding-inline-end: 4.5vh;
  padding-top: 3vh;
  padding-bottom: 2vh;
  padding-inline-start: 2.7vh;
  font-size: 1vh !important;
  margin: 0;
  padding-inline: 0;
}

.linksRow > .col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linkRow {
    font-size: 1vw;
    cursor: pointer;
    padding-block: 1.2vh;
    display: flex;
    column-gap: 2vh;
    margin-inline: 2vh;
    padding-inline: 2vh;
}

.linkRow.hello {
    font-size: 2.5vh;
    margin-bottom: 1.5vh;
    padding-top: 0;
    cursor: context-menu;
}

.linkCol.hello {
    padding-inline-start: 1.5vh;
}

.linkCol.hello>img {
    margin-inline-end: 1vh;
    width: 2.5vh;
    height: 2.5vh;
}

.linkRow.active {
    background-color: #016966;
    border-radius: 1.5vh;
}

.sumLabelParent {
    padding: 0;
}

.nisSign {
    font-size: 3vh;
    font-family: auto;
    margin-inline-start: 1vh;
}

.menuWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

.linkRowBtnIcon {
  height: 2vh;
}

.linksRow > div {
  position: relative;
  height: 100%;
}

.footerMenu {
  position: absolute;
  bottom: 0;
  width: 100%;
}
