<div class="wrapper">
    <div class="titleWrapper">
        <label class="selectMonthTitle">{{ 'SHARED.COMPONENTS.DIALOGS.SELECT_MONTH_FREE_MONTHLY.FREE_MONTHLY_CONTRACT' | translate }}</label>
        <button
        (mousedown)="dialogRef.close()"
        mat-button>
            <img
            src="./assets/icons/x.png"
            style="height: 1.8vh">
        </button>
    </div>
    <hr>
    <div class="selectMonthWapper">
        <mat-form-field
          appearance="outline"
          style="width: 11vw;">
          <mat-label>{{ 'GENERAL.CHOOSE_START_DATE' | translate }}</mat-label>
          <input
            matInput
            #selectMonthInput
            [matDatepicker]="picker"
            [min]="minDate"
            [max]="maxDate"
            (dateChange)="checkValidity($event)"
          >
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <label *ngIf="dateNoValid" class="dateNoValid">
            {{ 'SHARED.COMPONENTS.DIALOGS.SELECT_MONTH_FREE_MONTHLY.MIN_DATE_ERROR' | translate }}
        </label>

        <button
        mat-raised-button
        class="btn"
        type="submit"
        [disabled]="selectMonthInput.value == '' || dateNoValid"
        (click)="pressContinue(selectMonthInput.value)">
        {{ 'GENERAL.CONTINUE' | translate }}
        </button>
    </div>
</div>
