<div style="width: 50vw;">
    <div class="flex-conteiner-row flex-row-wrap-row-strech">
        <form [formGroup]="dataToBuyContract">
            <mat-form-field
            *ngIf="needToSelectDate()"
            appearance="outline"
            style="width: 12vw;">
                <mat-label *ngIf="!isFreeWeekly()">{{ 'GENERAL.CHOOSE_START_DATE' | translate }}</mat-label>
                <mat-label *ngIf="isFreeWeekly()">{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.PAYMENT_TO_BUY_CONTRACT.CHOOSE_START_DATE' | translate }}</mat-label>
                <input
                    matInput
                    formControlName="freedom"
                    [matDatepicker]="picker"
                    [min]="minDate"
                    [max]="maxDate">
                <mat-datepicker-toggle
                    matSuffix
                    [for]="picker">
                </mat-datepicker-toggle>
                <mat-datepicker #picker>
                </mat-datepicker>
            </mat-form-field>
            <div
            *ngIf="isVariableStoredValue()"
            class="flex-conteiner-row"
            style="margin: 1vh;">
                <div style="padding-inline-start: 1vh; align-self: center;">
                    <mat-label>
                      {{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.PAYMENT_TO_BUY_CONTRACT.INSERT_STORED_VALUE_AMOUNT' | translate }}
                    </mat-label>
                </div>
                <div style="padding-inline-start: 1vh;">
                    <input
                    matInput
                    autocomplete="off"
                    formControlName="variableStoredValue"
                    type="number"
                    style="width: 3vw; height: 5vh; border: 1px solid black; border-radius: 1vh; padding-inline: 1.5vh;">
                </div>
                <div style="padding-inline-start: 1vh;">
                    <button
                    mat-button
                    [disabled]="f.variableStoredValue.value == ''"
                    (click)="getStoredValueByDiscount(true)"
                    style="background-color: #007D78; color: white; padding-inline-start: 1vw; height: 5vh;">
                    {{ 'GENERAL.OK' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
    <app-details-rav-kav-title
        [contractDetails]="contractDetails">
    </app-details-rav-kav-title>
    <mat-tab-group *ngIf="contractDetails.contract.price != changeableLabel" (selectedTabChange)="selectedTabChange($event)">
        <mat-tab label="{{ 'GENERAL.CASH_PAYMENT' | translate }}">
            <cdk-virtual-scroll-viewport
                class="col-6"
                itemSize="50"
                style="height: 68vh; width: 100% !important;">
                <app-display-money
                    [disabled]="isCantPurchaseContract()"
                    (action)="purchaseContract($event)"
                    text="{{ 'GENERAL.PURCHASE' | translate }}">
                </app-display-money>
            </cdk-virtual-scroll-viewport>
        </mat-tab>
        <mat-tab
        *ngIf="this.storeService.operatorConfiguration.supportCredit || this.storeService.operatorConfiguration.supportVouchers"
        label="{{ 'GENERAL.CREDIT_OR_VOUCHER_PAYMENT' | translate }}">
            <form
            #paymentForm="ngForm"
            class="paymentForm"
            (ngSubmit)="purchaseContract(paymentForm)">
                <div>
                    <div class="flexColumn">
                        <label class="paymentParamTitle">{{ 'GENERAL.CHOOSE_PAYMENT_METHOD' | translate }}:</label>
                        <div *ngIf="this.storeService.operatorConfiguration.supportCredit">
                            <input
                            type="radio"
                            value="credit"
                            name="paymentWay"
                            required
                            ngModel>
                            <label class="paymentWayLabel">{{ 'GENERAL.CREDIT' | translate }}</label>
                        </div>
                        <div *ngIf="this.storeService.operatorConfiguration.supportVouchers">
                            <input
                            type="radio"
                            value="voucher"
                            name="paymentWay"
                            required
                            ngModel>
                            <label class="paymentWayLabel">{{ 'GENERAL.VOUCHER' | translate }}</label>
                          </div>
                    </div>
                    <div
                    *ngIf="paymentForm.dirty"
                    class="flexColumn">
                        <label
                        class="paymentParamTitle">{{ 'GENERAL.ENTER' | translate }} {{ paymentForm.controls.paymentWay.value == "credit" ? ('GENERAL.REFERENCE_NUM' | translate) : ('GENERAL.VOUCHER_NUM' | translate) }}:</label>
                        <input
                        type="number"
                        name="cardNum"
                        placeholder="{{ paymentForm.controls.paymentWay.value == 'credit' ? ('GENERAL.REFERENCE_NUM' | translate) : ('GENERAL.VOUCHER_NUM' | translate) }}"
                        required
                        ngModel>
                    </div>
                    <button
                        style="font-size: 2vh;
                        padding-block: 0.5vh;
                        padding-inline: 2.2vh;"
                        mat-raised-button
                        type="submit"
                        #submitButton
                        [disabled]="!paymentForm.valid">
                        {{ 'GENERAL.PURCHASE' | translate }}
                    </button>
                </div>
            </form>
        </mat-tab>
    </mat-tab-group>

    <app-info-modal
        id="info-modal-payback"
        [backgroundClickFunction]="infoModalBackgroundClickFunction"
        [icon]="infoModalIcon"
        [title]="infoModalTitle"
        [subTitle]="infoModalSubTitle"
        [hr]="infoModalHr"
        [btnTitle]="infoModalBtnTitle"
        [btnRightText]="infoModalBtnRightText"
        [btnRightClickFun]="infoModalBtnRightClickFun"
        [btnLeftText]="infoModalBtnLeftText"
        [btnLeftClickFun]="infoModalBtnLeftClickFun"
        [error]="infoModalError">
    </app-info-modal>

    <app-modal
    class="payback-modal"
    id="payback-modal-purchase"
    [backgroundClickFunction]="null">
        <div class="row paybackWrapper">
            <div class="row bottomRow">
                <div class="col-9 moneySection">
                    <div class="moneySectionLabel">
                        <label class="moneySectionMainLabel">{{ 'GENERAL.SURPLUS' | translate }}</label>
                        <label class="moneySectionSubLabel">{{ 'GENERAL.SURPLUS_SUBTITLE' | translate }}</label>
                    </div>
                    <table class="table table-borderless">
                        <tbody style="font-size: 2vh;">
                            <tr
                            *ngFor="let item of paybackCashbox | cashboxKeys">
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <img class="tableImg" [src]=getImageUrl(item.key)>
                                        </div>
                                        <div class="col currency" *ngIf="getValue(item.key)/100 > 10">
                                          {{ 'GENERAL.BILL' | translate }} {{ getValue(item.key)/100 | currency }}
                                        </div>
                                        <div class="col currency" *ngIf="getValue(item.key)/100 <= 10">
                                          {{ 'GENERAL.COIN' | translate }} {{ getValue(item.key)/100 | currency }}
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <app-amount-input
                                        [type]="item.key"
                                        [maxValue]="currCashbox[item.key]"
                                        payload="out"
                                        info="payback"
                                        ></app-amount-input>
                                    </div>
                                </td>
                                <td class="total">
                                    <div *ngIf="paybackCashbox.getCoinSum(item.key) > 0">
                                        {{ paybackCashbox.getCoinSum(item.key) | currency }}
                                    </div>
                                </td>
                            </tr>
                            <tr class="footer">
                                <td></td>
                                <td></td>
                                <td class="total">
                                    <div>
                                      {{ 'GENERAL.TOTAL' | translate }} {{ paybackCashbox.getSum() | currency }}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-3 btnSection">
                    <div></div>
                    <div class="btnSectionTilte">
                        <label>{{ 'GENERAL.REQUIRED_TO_RETURN_TO_CLIENT' | translate }}:</label>
                        <hr>
                        <label class="sum">{{ getPayback() | currency }}</label>
                    </div>
                    <button
                    class="btn btn-primary"
                    (click)="finishPayback()"
                    [disabled]="parseFloat(getPayback()) != 0">
                    {{ 'GENERAL.FINISH' | translate }}
                    </button>
                </div>
            </div>
        </div>

        <app-pop-up *ngIf="moreThanMax">
          {{ 'GENERAL.QUANTITY_EXCEEDS' | translate }}
        </app-pop-up>

        <app-pop-up *ngIf="lessThanZero">
          {{ 'GENERAL.CANT_NEGATIVE' | translate }}
        </app-pop-up>
    </app-modal>
</div>
