.flex-conteiner-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap-row-strech {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.detailsContractStyle {
    font-weight: 600;
    font-size: 2.2vh;
}

.buttonDiv {
    display: flex;
    column-gap: 2vh;
    margin-bottom: 2vh;
}

.payback-modal {
    display: none;
}

.paybackWrapper {
    width: 65vw;
    background-color: #F9F9F9;
    margin: 0;
}

.exitBtnRow {
    padding: 0;
}

.exitBtn {
    cursor: pointer;
    font-family: cursive;
    font-weight: bold;
    padding: 0;
    margin-top: 1vh;
    text-align: end;
}

.exitBtn:hover {
    color: grey;
}

.bottomRow {
    margin: 0;
    padding: 0;
}

.moneySection {
    background-color: white;
    margin: 2.3vh;
    border: 2px solid #00000019;
    width: 70%;
    border-radius: 1vh;
}

.moneySectionLabel {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    row-gap: 2vh;
}

.moneySectionMainLabel {
    font-size: 3vh;
    font-weight: bold;
}

.moneySectionSubLabel {
    font-size: 2vh;
}

table {
    margin: 0;
}

tr {
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

tr.footer {
    border-bottom: none;
    font-size: 2.5vh;
    font-weight: bold;
}

tr.footer > td {
    padding-block: 2vh;
}

td {
    text-align: center;
    vertical-align: middle;
}

td.total {
    font-weight: bold;
    width: 14vw;
    font-size: 2vh;
}

td > div {
    align-items: center;
}

.btnSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.3vh;
}

.btnSectionTilte {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 3vh;
}

.btnSectionTilte > .sum {
    font-size: 4vh;
}

.btn-primary {
    background-color: #007D78;
    border-color: #007D78;
    border-radius: 1vh;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #006966;
}

.freeMonthly {
    font-size: 2.3vh;
    margin-inline-end: 2vh;
    font-weight: bold;
}

.paymentForm {
    font-size: 2vh;
    padding: 3vh;
}

.paymentParamTitle {
    font-size: 2.3vh;
    font-weight: bold;
    margin-bottom: 1.5vh;
}

.paymentWayLabel {
  margin-inline-start: 1.2vh;
}

.flexColumn {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vh;
}

button {
    background-color: #007D78;
    color: white;
    padding-block: 1vh;
    font-size: 2vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
    background-color: #8fc2c0 !important;
}

.tableImg {
  height: 4vh;
}

.currency {
  direction: rtl;
}
