<div [dir]="DIRECTION">
    <div class="row">
        <div class="col titleDiv">
            <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-between;align-items: center;" mat-dialog-title>
                <label style="font-size: 2.8vh;">{{ getTitle() }}</label>

                <button
                    *ngIf="homePage"
                    mat-button
                    (mousedown)="dialogRef.close()">
                    <img
                    src="./assets/icons/x.png"
                    style="height: 2.5vh">
                </button>

                <button
                    *ngIf="isContractLoading || editProfile"
                    mat-button
                    (click)="backToHomePage()"
                    style="font-size: 2vh; font-weight: bold;">
                &lt; {{ 'GENERAL.BACK' | translate }}</button>

                <button
                *ngIf="canLoading"
                mat-button
                (click)="backFromPayment()"
                style="font-size: 2vh; font-weight: bold;">
                &lt; {{ 'GENERAL.BACK' | translate }}</button>
            </div>
            <hr>
        </div>
    </div>
    <div>
        <app-display-details-of-rav-kav
        *ngIf="homePage"
        [data]='data'
        (loadContractClicked)='goToContractsPage()'
        (editProfileClicked)='goToEditProfilePage()'
        (canLoadContract)='canLoadContract($event)'
        (cancelContract)='goToConfirmCancelation($event)'>
        </app-display-details-of-rav-kav>

        <app-display-contract
        *ngIf="isContractLoading"
        [dataFromCard]='data["ravKavDetails"]'
        (canLoadContract)='canLoadContract($event)'>
        </app-display-contract>

        <app-payment-to-buy-contract
        *ngIf="canLoading"
        [contractDetails]="contractToBuy"
        [dataFromCard]='data["ravKavDetails"]'
        (contractDumpArrived)='writeContractOnCard($event)'>
        </app-payment-to-buy-contract>

        <app-cancelation-contract
        *ngIf="confirmCancelation"
        [contractToCancelation]="contractToCancelation"
        [dataFromCard]='ravKavDetails'
        (readyToCancelContract)='writeContractOnCard($event)'>
        </app-cancelation-contract>

        <app-edit-profile
        *ngIf="editProfile"
        [dataFromCard]='ravKavDetails'
        (readyToEditProfile)='writeContractOnCard($event)'>
        </app-edit-profile>
    </div>
</div>
