<div class="top">
    <div>
        <table class="table detailsTable">
            <tr style="padding: 5vh;">
                <td style="font-weight: bold;">{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.CARD_NUM' | translate }}</td>
                <td>{{ cardSerialNumber }}</td>
                <td
                *ngIf="isAnonymousCard"
                class="anonymousCard">
                ({{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.ANONYMOUS_CARD' | translate }})</td>
            </tr>
            <tr style="padding: 5vh;">
                <td style="font-weight: bold;">{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.CARD_VALIDITY' | translate }}</td>
                <td>
                {{ envendDate | date:'shortDate' }}</td>
                <td
                *ngIf="noValid(envendDate)"
                class="noValid">
                ({{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.NO_VALID' | translate }})</td>
            </tr>
            <tr
            *ngFor="let profile of profiles; let i = index"
            style="padding: 5vh;">
                <td style="font-weight: bold;">{{ 'GENERAL.PROFILE' | translate }} {{ i + 1 }}</td>
                <td>{{ profile.profile }}</td>
                <td>{{ profile.date | date:'shortDate'}}</td>
                <td
                *ngIf="noValid(profile.date)"
                class="noValid">
                ({{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.NO_VALID' | translate }})</td>
            </tr>
        </table>
        <app-error-message *ngIf="daysUntilcardExpierd <= 30" margin="0 0 1.7vh 0">
          {{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.NOTE_VALIDITY' | translate:daysUntilcardExpierdString }}
        </app-error-message>
    </div>
    <div class="btnsDiv">
        <button
        mat-raised-button
        class="btn"
        (click)="onClickLoadAnotherContract()"
        [ngClass]="{ 'disabled': hasGoldkavFreeCertificateContract || haventSuitableProfile || adminAndOperatorAndGoldKav}">
        {{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.LOAD_ANOTHER_CONTRACT' | translate }}
        </button>

        <button
        *ngIf="storeService.operatorConfiguration.supportEditProfile"
        mat-raised-button
        class="btn"
        (click)="onClickAddProfile()"
        [ngClass]="{ 'disabled': isAnonymousCard || hasGoldkavProfile }">
        <img
        src="assets/icons/editIcon.svg"
        class="editProfileBtn">
        {{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.ADD_PROFILE' | translate }}
        </button>
    </div>
</div>

<mat-tab-group>
    <mat-tab label="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.CONTRACTS' | translate }}">
        <table class="table bottomTable">
            <tr>
                <th *ngFor="let titleTravelContract of titleTravelContracts">
                    {{ titleTravelContract }}
                </th>
            </tr>
            <tr *ngFor="let contract of contracts; let i = index">
                <ng-container *ngIf="contract !== null">
                    <ng-container *ngFor="let item of contract | keys">
                        <td
                        *ngIf="item.key != 'contractPriceId' &&
                                item.key != 'price' &&
                                item.key != 'exactPrice' &&
                                item.key != 'ettCode' &&
                                item.key != 'profileType' &&
                                item.key != 'originalContractValidityStartDate'">
                            {{ valueIsMoney(item) ? (item.value | currency) : item.value }}
                        </td>
                    </ng-container>
                    <td>
                        <app-button
                        text="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.REPURCHASE' | translate }}"
                        [color]="'#007D78'"
                        (clickOnButton)="repurchase(contract)"
                        [disabled]="!isRepurchasble(i)">
                        </app-button>
                    </td>
                    <td>
                        <app-button
                        text="{{ 'GENERAL.CANCEL_PURCHASE' | translate }}"
                        [color]="'#B10600'"
                        (clickOnButton)="cancelationContract(contract, i)"
                        [disabled]="!isCancelable(i)">
                        </app-button>
                    </td>
                </ng-container>
            </tr>
        </table>
    </mat-tab>
    <mat-tab
    style="font-weight: 600; color: black;"
    label="{{ 'PAGES.MAIN.HAVE_RAVKAV.DIALOG_RAVKAV.COMPONENTS.DISPLAY_DETAILS_OF_RAVKAV.HISTORY' | translate }}">
        <table class="table">
            <tr>
                <th *ngFor="let titleEvent of titleEvents;">
                    {{ titleEvent }}
                </th>
            </tr>
            <tr *ngFor="let event of events">
                <td *ngFor="let item of event">
                    {{ item }}
                </td>
            </tr>
        </table>
    </mat-tab>
</mat-tab-group>

<app-info-modal
    id="info-modal-display-details"
    [backgroundClickFunction]="infoModalBackgroundClickFunction"
    [icon]="infoModalIcon"
    [title]="infoModalTitle"
    [subTitle]="infoModalSubTitle"
    [hr]="infoModalHr"
    [btnTitle]="infoModalBtnTitle"
    [btnRightText]="infoModalBtnRightText"
    [btnRightClickFun]="infoModalBtnRightClickFun"
    [btnLeftText]="infoModalBtnLeftText"
    [btnLeftClickFun]="infoModalBtnLeftClickFun"
    [error]="infoModalError">
</app-info-modal>
