.titleDiv {
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: unset !important;
    font-size: 1.8vh;
    -webkit-border-vertical-spacing: 1vh;
}

.detailsTable td{
    padding-bottom: 1.5vh;
    padding-inline-end: 2.5vh;
}

.top {
    width: 75vw;
    display: flex;
    column-gap: 10vh;
}

.noValid {
    color: red;
    font-weight: bold;
}

.anonymousCard {
    color: orange;
    font-weight: bold;
}

.editProfileBtn {
  height: 2vh;
  margin-inline-end: 2px;
}

.btnsDiv {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

.btn {
  font-size: 2vh;
  padding: 1.5vh !important;
  border-radius: 1vh;
  background-color: #007D78;
  color: white;
}

.btn:hover {
    background-color: #016966;
    box-shadow: 2px 2px 1.5vh #00000081;
}

.disabled {
    background-color: #007D78;
    color: white;
    cursor: not-allowed;
    pointer-events: all !important;
}
