body,html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.app-row {
    height: 100vh;
}

.inline-start-side {
    padding: 0;
}

.left-side {
   background-color: #F9F9F9;
}

app-money-header {
    padding-inline: 0;
}

.router-outlet-col {
    padding: 0;
}

.router-outlet-row {
    margin: 0;
    height: 100%;
}

.app-money-header-parent {
  height: 19vh;
}

.mainRow {
  height: 74.5vh;
}
