<div class="container-fluid app-container" style="background-color: #F9F9F9; padding: 0">
    <div class="app-row">
        <app-upper-strap [userName]="userName"></app-upper-strap>
        <div class="row app-money-header-parent">
            <div class="col-12">
                <app-money-header></app-money-header>
            </div>
        </div>
        <div class="row mainRow">
            <div class="col-2 inline-start-side">
                <app-menu-header></app-menu-header>
            </div>
            <div class="col-10 left-side">
                <div class="row router-outlet-row">
                    <div class="col router-outlet-col">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-info-modal
        id="info-modal-main"
        [backgroundClickFunction]="infoModalBackgroundClickFunction"
        [icon]="infoModalIcon"
        [title]="infoModalTitle"
        [subTitle]="infoModalSubTitle"
        [hr]="infoModalHr"
        [btnTitle]="infoModalBtnTitle"
        [btnRightText]="infoModalBtnRightText"
        [btnRightClickFun]="infoModalBtnRightClickFun"
        [btnLeftText]="infoModalBtnLeftText"
        [btnLeftClickFun]="infoModalBtnLeftClickFun"
        [error]="infoModalError">
    </app-info-modal>
</div>
