<mat-form-field
appearance="outline"
[style.margin-bottom]="marginBottom"
[style.width.vw]="width">
    <mat-label>{{ label }}</mat-label>
    <input
    (input)="inputCahnge()"
    matInput
    [formControl]="option"
    [placeholder]="label"
    [matAutocomplete]="auto"
    #trigger="matAutocompleteTrigger"
    [readonly]="!_options"
    #input>

    <button
    mat-icon-button
    matPrefix
    *ngFor="let icon of _icons"
    [matTooltip]="icon.tooltip"
    (click)="onIconClicked(icon); $event.stopPropagation()"
    aria-label="icon">
        <mat-icon matPrefix>{{ icon.name }}</mat-icon>
    </button>

    <div
    matSuffix
    style="display:flex">
        <mat-icon *ngIf="_options && _options.length > 0" aria-label="expand">{{isAutocompeleteOpened? 'expand_less': 'expand_more'}}</mat-icon>
        <mat-icon *ngIf="this.option.value" (mousedown)="clearAndEmitValue()" aria-label="Clear">close</mat-icon>
        <div *ngIf="!_options" mat-icon>
            <mat-spinner diameter="20"></mat-spinner>
        </div>
    </div>
    <mat-autocomplete
    #auto="matAutocomplete"
    (opened)='isAutocompeleteOpened=true'
    (closed)='isAutocompeleteOpened=false'
    (optionSelected)='getValue.emit(this.returnBy? $event.option.value[this.returnBy] : $event.option.value)'
    [displayWith]="displayFn.bind(this)"
    autocomplete="off">
        <mat-option
        *ngFor="let option of filteredOptions | async"
        [value]="option"
        [style.font-size]="displayBy && option[displayBy] && option[displayBy].length > 75 ? 'x-small' : 'medium'"
        [matTooltipDisabled]="displayBy && option[displayBy] && option[displayBy].length > 15 ? false : true"
        [matTooltip]="displayBy? option[displayBy] : option">
            {{ displayBy? option[displayBy] : option }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>
