.generalContainer {
    z-index: 1500;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contentWrapper {
  position: absolute;
  bottom: 2vh;
  background-color: black;
  color: white;
  border-radius: 1vh;
  padding-block: 2.5vh;
  padding-inline: 3vh;
  font-size: 2vh;
}

.close {
    position: absolute;
    left: 1vh;
    top: 1.3vh;
    height: 1.3vh;
    cursor: pointer;
}
