<div class="generalContainer">
    <div class="contentWrapper">
        <img
        src="./assets/icons/xWhite.svg"
        class="close"
        (click)="onClose()">
        <ng-content></ng-content>
    </div>
</div>