<app-modal
id="stocktaking-modal"
[backgroundClickFunction]="stocktakingModalBackgroundClickFunction"
[extraBlur]="extraBlur">
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col titleDiv">
                <label class="title">{{ 'PAGES.MAIN.STOCKTAKING.PAGE_TITLE' | translate }}</label>
                <label class="subTitle">{{ 'PAGES.MAIN.STOCKTAKING.SUB_TITLE' | translate }}</label>
            </div>
        </div>
        <hr style="margin: 0;">
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let item of stocktakingCashbox | cashboxKeys">
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <img [src]=_getImageUrl(item.key)>
                                    </div>
                                    <div class="col currency" *ngIf="_getValue(item.key)/100 > 10">
                                      {{ 'GENERAL.BILL' | translate }} {{ _getValue(item.key)/100 | currency }}
                                    </div>
                                    <div class="col currency" *ngIf="_getValue(item.key)/100 <= 10">
                                      {{ 'GENERAL.COIN' | translate }} {{ _getValue(item.key)/100 | currency }}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <app-amount-input
                                [type]=item.key
                                payload="in"
                                ></app-amount-input>
                            </td>
                            <td class="totalCoin">
                                <div *ngIf="stocktakingCashbox.getCoinSum(item.key) > 0">
                                    {{ stocktakingCashbox.getCoinSum(item.key) | currency }}
                                </div>
                            </td>
                        </tr>
                        <tr class="total">
                            <td></td>
                            <td></td>
                            <td class="total">
                                <label class="totalLabel">{{ 'GENERAL.TOTAL' | translate }}</label>
                                <div class="totalLabelAmountDiv">
                                    <label class="totalLabelAmount"> {{ stocktakingCashbox.getSum() | currency }}</label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col btnsCol">
                <button
                    class="btn cancelBtn"
                    type="button"
                    (click)="closeStocktaking()">
                    {{ getCancelStocktakingBtnText() }}
                </button>
                <button
                    class="btn submitBtn"
                    type="submit">
                    {{ 'PAGES.MAIN.STOCKTAKING.SUBMIT_BUTTON' | translate }}
                </button>
            </div>
        </div>
    </form>

    <app-pop-up
    *ngIf="openCantSkipStocktaking"
    >{{ 'PAGES.MAIN.STOCKTAKING.CANT_SKIP' | translate }} {{ cantSkipStocktakingPopUpLabel }} {{ 'GENERAL.SHIFT' | translate }}
    </app-pop-up>

</app-modal>

<app-info-modal
    id="info-modal-stocktacking"
    [backgroundClickFunction]="infoModalBackgroundClickFunction"
    [icon]="infoModalIcon"
    [title]="infoModalTitle"
    [subTitle]="infoModalSubTitle"
    [hr]="infoModalHr"
    [btnTitle]="infoModalBtnTitle"
    [btnRightText]="infoModalBtnRightText"
    [btnRightClickFun]="infoModalBtnRightClickFun"
    [btnLeftText]="infoModalBtnLeftText"
    [btnLeftClickFun]="infoModalBtnLeftClickFun"
    [error]="infoModalError">
</app-info-modal>
