.titleDiv {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vh;
}

table {
    width: 50vw;
    margin-bottom: 0;
}

.btnsCol {
    display: flex;
    justify-content: flex-end;
    column-gap: 2.6vh;
}

button {
    padding-inline: 2.2vh;
    font-size: 2.2vh;
}

.submitBtn {
    color: white;
    background-color: #007D78;
}

.submitBtn[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}

.cancelBtn {
    border: 1px solid #007D78;
}

img {
    height: 4.1vh;
}

td {
    text-align: center;
    vertical-align: middle;
    font-size: 2vh;
}

td > div {
    align-items: center;
}

td.totalCoin {
    width: 14vw;
    font-weight: bold;
}

tr.total > td {
    border-bottom: none;
}

td.total {
    width: 14vw;
    font-weight: bold;
    align-items: baseline;
    column-gap: 1.5vh;
    display: flex;
    justify-content: center;
    margin-top: 1.5vh;
    font-size: 2.5vh;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding: 1.5vh;
}

.title {
    font-size: 3vh;
    font-weight: bold;
}

.subTitle {
    font-size: 2.2vh;
}

.totalLabelAmountNis {
    margin-inline-start: 1vh;
}

.currency {
  direction: rtl;
}
