<app-info-modal
  id="error-modal"
  style="display: none;"
  [backgroundClickFunction]="null"
  [icon]="infoModalIcon"
  [title]="infoModalTitle"
  [subTitle]="infoModalSubTitle"
  [hr]="!!errorInfo"
  [btnLeftText]="infoModalBtnLeftText"
  [btnLeftClickFun]="closeInfoModal"
  >
  <table *ngIf="errorInfo">
      <tbody>
        <tr>
          <td class="title">{{ 'SHARED.COMPONENTS.DIALOGS.ERROR.CODE' | translate }}:</td>
          <td>{{ errorInfo.statusCode }}</td>
        </tr>
        <tr>
          <td class="title">{{ 'GENERAL.DESCR' | translate }}:</td>
          <td><div class="errorDescription">{{ errorInfo.description }}</div></td>
        </tr>
    </tbody>
  </table>
</app-info-modal>
