table {
  font-size: 2vh;
  border-collapse: separate;
  border-spacing: 1.5vh 0.5vh;
}

.title {
  padding-inline-end: 1.5vh;
  font-weight: bold;
  vertical-align: top;
}

.errorDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 40vw;
}
