.wrapper {
    width: 20vw;
}
.titleWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.selectMonthWapper {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
}

.selectMonthTitle {
    font-size: 2.3vh;
}

.btn {
    font-size: 1.8vh;
    background-color: #007D78;
    color: white;
    padding-block: 5px;
    align-self: center;
}

.btn:hover {
    background-color: #016966;
    box-shadow: 2px 2px 1.5vh #00000081;
}

.btn[disabled] {
    background-color: #007D78;
    color: white;
    cursor: not-allowed;
    pointer-events: all !important;
}

.dateNoValid {
    color: red;
    font-weight: bold;
}

::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
}
