.detailsContractStyle {
    font-weight: bold;
}

.parameter {
    display: flex;
    column-gap: 0.3vw;
}

.wrapper {
    background-color: #F5F5F5;
    padding-block: 1vw;
    padding-inline: 0.5vw;
    font-size: 1vw;
}
