<div class="row wrapper">
    <div
        class="col parameter">
        {{ 'GENERAL.CONTRACT_KIND' | translate }}
        <span
            class="detailsContractStyle">
            {{ contractDetails.contract.contractType }}
        </span>
    </div>
    <div
        class="col parameter">
        {{ 'GENERAL.SHARING_CODE' | translate }}
        <span
            class="detailsContractStyle">
            {{ contractDetails.contract.shareCode }}
        </span>
    </div>
    <div
        class="col parameter">
        {{ 'GENERAL.PROFILE' | translate }}
        <span
            class="detailsContractStyle">
            {{ contractDetails.contract.profile }}
        </span>
    </div>
    <div
        class="col parameter">
        {{ priceLabel }}
        <span
            class="detailsContractStyle">
            {{ price | currency }}
        </span>
    </div>
    <div
        class="col parameter"
        *ngIf="contractDetails.contract.loadedSum">
        {{ 'SHARED.COMPONENTS.DETAILS_RAVKAV_TITLE.CHARGED_AMOUNT' | translate }}
        <span
            class="detailsContractStyle">
            {{ contractDetails.contract.loadedSum | currency }}
        </span>
    </div>
</div>
