.pdf-viewer {
    width: 1000px;
    height: 80vh;
}

.unVisible {
    width: 0;
    height: 0;
}

.loadingPercent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 2vh;
}

::ng-deep .ng2-pdf-viewer-container {
    overflow-x: hidden !important;
}