<!-- [ngStyle]="loadingPercent != 100 ? {'display': 'none'} : null" -->
<pdf-viewer
    [ngClass]="{'unVisible': loadingPercent != 100}"
    class="pdf-viewer"
    [src]="rulesSrc"
    [render-text]="true"
    [original-size]="false"
    (on-progress)="onProgress($event)"
></pdf-viewer>
<div
class="loadingPercent"
*ngIf="loadingPercent != 100">
<label>{{ 'GENERAL.LOADING' | translate }}</label>
<label>{{ loadingPercent }}%</label>
</div>
