.title {
    font-size: 2.5vh;
    font-weight: bold;
}

.cashboxList {
    display: flex;
    flex-direction: column;
    max-height: 106vh;
    overflow: auto;
}

.cashboxButton {
    font-size: 2.5vh;
    width: 71vh;
    font-weight: bold;
    margin-block: 2.6vh;
    padding: 1.5vh;
    background-color: white;
    border: 0.35vh solid #007D78;
    border-radius: 1.5vh;
    box-shadow: 0.35vh 0.35vh 1.5vh #0000001A;
}

.cashboxButton:hover {
    box-shadow: 0.35vh 0.35vh 1.5vh #00000081;
}

.disabled {
    cursor: not-allowed;
    color: #616161 !important;
    border-color: #cdcdcd;
}

.disabled:hover {
    box-shadow: 0.35vh 0.35vh 1.5vh #0000001A;
}

.btnTextDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 3.5vh;
}

.titleRow {
    align-items: center;
}

.ravkavIcon {
    height: 4.2vh;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.close {
    height: 2.5vh;
    cursor: pointer;
    font-weight: bold;
}
