<app-modal
    [id]="id"
    style="display: none;"
    [backgroundClickFunction]="null">
    <div class="row titleRow">
        <div class="col-1">
            <img class="ravkavIcon" src="./assets/icons/ravkavIcon.png">
        </div>
        <div class="col-11 titleWrapper">
            <label class="title">{{ "PAGES.LOGIN.CHOOSE_SS" | translate }}</label>
            <img
            src="./assets/icons/x.png"
            class="close"
            (click)="onClose()"
            >
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col cashboxList">
            <div *ngFor="let cashbox of cashboxList; let id = index">
                <button
                    class="cashboxButton"
                    (click)="onSelect(cashbox, id)"
                    [ngClass]="cashbox.Status_id == cashboxStatus.LOCKED || !cashbox.clusterId ? 'disabled' : null"
                    >
                    <div *ngIf="selected == id">
                        {{ "GENERAL.LOADING" | translate }}
                    </div>
                    <div *ngIf="selected != id" class="btnTextDiv">
                        <div>{{ cashbox.DeviceDescr ? cashbox.DeviceDescr : "PAGES.LOGIN.UNNAMED_SS" | translate }}</div>
                        <div>{{ cashbox.Device_id }}</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</app-modal>
