html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Assistant Light', 'Assistant Regular', 'Assistant', sans-serif !important;
}

* {
  font-family: 'Assistant Light', 'Assistant Regular', 'Assistant', sans-serif !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #007D78;
}

::-webkit-scrollbar {
  width: 1vh !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3vh grey;
  border-radius: 2vh;
}

::-webkit-scrollbar-thumb {
  background: rgba(218, 218, 218, 0.856);
  border-radius: 2vh;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 129, 129, 0.856);
}

.mat-typography {
    overflow: hidden;
}

button {
    cursor: pointer;
}

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #007D78;
}

.mat-calendar-body-selected {
    background-color: #007D78 !important;
}

.mat-datepicker-toggle-active {
    color: #007D78 !important;
}

.mat-simple-snackbar-action {
    margin: -8px 8px -8px 0px !important;
}

.mat-simple-snackbar {
  direction: rtl;
}

.table>:not(caption)>*>* {
  padding: 0.8vh 0.8vh !important;
}

.mat-body, .mat-body-1, .mat-typography {
  font: 400 1.5vh / 2.3vh Roboto, "Helvetica Neue", sans-serif !important;
}

.row {
  --bs-gutter-x: 2.5vh !important;
}

.mat-dialog-title {
  margin: 0 !important;
  font: 500 2.5vh/ 3.5vh Roboto, "Helvetica Neue", sans-serif !important;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  min-width: 0 !important;
  line-height: 0 !important;
  padding: 0.5vh !important;
}

.mat-raised-button {
  margin: 0 !important;
  min-width: 0 !important;
  line-height: inherit !important;
  padding: 1vh !important;
}

.mat-tab-label {
  height: 5vh !important;
  padding: 0 2.5vh !important;
  min-width: 15.5vh !important;
  color: #007D78;
  font-size: 2.1vh;
  font-weight: 600;
}

hr {
  margin: 1.5vh 0 !important;
}

.btn {
  line-height: inherit !important;
  padding: 1vh !important;
}

.mat-horizontal-stepper-header {
  height: 6vh !important;
  padding: 0 2.2vh !important;
}

.mat-option {
  line-height: 6vh !important;
  padding: 0 2vh !important;
  font-size: 2vh !important;
  height: 6vh !important;
}

.mat-datepicker-content .mat-calendar {
  width: 40vh !important;
  height: 48vh !important;
}

.mat-calendar-table-header th {
  font-size: 1.5vh !important;
}

.mat-calendar-body {
  font-size: 1.8vh !important;
}

.mat-calendar-period-button {
  font-size: 2vh !important;
}

.mat-checkbox-inner-container {
  height: 2.3vh !important;
  width: 2.3vh !important;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

.mat-menu-item {
  line-height: 0 !important;
  height: 6.5vh !important;
  padding: 0 2vh !important;
  font-size: 2vh !important;
}

.mat-menu-panel {
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: none !important;
  outline: 0 !important;
}

.mat-menu-content:not(:empty) {
  padding-top: 1vh !important;
  padding-bottom: 1vh !important;
}

mat-icon {
  font-size: 3.4vh !important;
  height: unset !important;
  width: unset !important;
}

.mat-icon-button {
  height: 5.6vh !important;
  width: 5.6vh !important;
}

.mat-icon-button i, .mat-icon-button .mat-icon {
  line-height: unset !important;
}

.mat-form-field-infix {
  width: unset !important;
}

.mat-step-label {
  min-width: unset !important;
}

.mat-stepper-horizontal-line {
  margin: 0 -1vh !important;
  min-width: unset !important;
  width: 4.5vh !important;
}

.mat-horizontal-stepper-header .mat-step-icon {
  margin-right: 0px !important;
}

.mat-calendar-body-label, .mat-calendar-period-button {
  font-size: 2vh !important;
}

.mat-calendar-previous-button::after, .mat-calendar-next-button::after {
  margin: 2.2vh !important;
  border-top-width: 0.3vh !important;
}

.mat-calendar-previous-button::after {
  border-left-width: 0.3vh !important;
  transform: translateX(0.3vh) rotate(-45deg) !important;
}

.mat-calendar-next-button::after {
  border-right-width: 0.3vh !important;
  transform: translateX(-0.3vh) rotate(45deg) !important;
}

.mat-calendar-header {
  padding: 1vh 1vh 0 1vh !important;
}

.mat-calendar-arrow {
  border-left: 0.7vh solid transparent !important;
  border-right: 0.7vh solid transparent !important;
  border-top-width: 0.7vh !important;
  margin: 0 0 0 0.7vh !important;
}

.mat-calendar-content {
  padding: 0 1vh 1vh 1vh !important;
}

.mat-calendar-table-header th {
  padding: 0 0 2.3vh 0;
}

.mat-calendar-table-header-divider::after {
  left: -1.1vh !important;
  right: -1.1vh !important;
}

.mat-calendar-table-header th {
  padding: 0 0 1.3vh 0 !important;
}

.mat-calendar-controls {
  margin: 5% calc(33% / 7 - 2.2vh) !important;
}
