.wrapper,.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2vh;
}

.wrapper {
    padding-inline: 2vh;
    justify-content: space-around;
    min-height: 26vh;
}

.icon {
    height: 6vh;
    margin-top: 1vh;
}

.title {
    font-size: 3vh;
    font-weight: bold;
}

.subTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1vh;
}

.subTitle {
    font-size: 2vh;
}

hr {
    width: 100%;
}

.btnTitle {
    font-size: 2vh;
}

.btnDiv {
    display: flex;
    column-gap: 2.5vh;
}

button {
    border-radius: 0.7vh;
    padding-inline: 2.5vh;
}

.btnRight {
    border: 1px solid #007D78;
}

.btnLeft {
    color: white;
    background-color: #007D78;
}

button {
    font-size: 2.2vh;
}

.btn[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}
