<app-modal
    [id]="id"
    style="display: none;"
    [backgroundClickFunction]="backgroundClickFunction"
    zIndex="1500">
    <div class="wrapper">
        <img class="icon" src={{icon}}>
        <div class="titleDiv">
            <label class="title"> {{ title }} </label>
            <div *ngIf="subTitle" class="subTitleDiv">
                <label *ngFor="let line of subTitle;" class="subTitle">
                    {{ line }}
                </label>
            </div>
        </div>
        <app-error-message *ngIf="error" fontSize="2.2vh">
          {{ error }}
        </app-error-message>
        <app-error-message *ngIf="warning" fontSize="2.2vh" status="warning">
          {{ warning }}
        </app-error-message>
        <hr *ngIf="hr">
        <ng-content></ng-content>
        <label *ngIf="btnTitle" class="btnTitle">{{ btnTitle }}</label>
        <div class="btnDiv">
            <button
                *ngIf="btnRightText"
                class="btn btnRight"
                [disabled]="btnRightDisabled"
                (click)="btnRightClickFun()">
                {{ btnRightText }}
            </button>
            <button
                *ngIf="btnLeftText"
                class="btn btnLeft"
                [disabled]="btnLeftDisabled"
                (click)="btnLeftClickFun()">
                {{ btnLeftText }}
            </button>
        </div>
    </div>
</app-modal>
